In [54]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)



import pymongo
from datetime import datetime, timedelta, date
import pandas as pd


import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px
from datetime import datetime, timedelta, date

parent_path = '/home/server'


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

In [14]:
def encode(s):
    
    i = 0
    t = ''
    while i < len(s):
        if s[i].isupper():
            t += 'U'
        elif s[i].islower():
            t += 'L'
        elif s[i].isdigit():
            t += 'D'
        else:
            t += 'O'
        i += 1
        
    return t

def short_encode(s):
    i = 0
    s = encode(s)
    curr = ''
    t = ''
    
    while i < len(s):
        if curr != s[i]:
            t += s[i]
            curr = s[i]
        
        i += 1
    return t

def score_sus_email(s):

    email_input = s
    email_input = email_input.split('@')[0]
    
    
    
    pat_count_digit = encode(email_input).count('D')
    pat_encode = short_encode(email_input)
    
    if pat_encode == 'LD' and pat_count_digit >= 4:
        return 1
    elif pat_encode == 'D':
        return 1
    return 0
    
score_sus_email('123312313@gmail.com')

1

In [15]:
from gibberish_detector import detector

path_detector_indo = '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/indo_news.model'
Detector = detector.create_from_model(
    path_detector_indo
)
from nostril import nonsense


def score_gibberish(input_email):
    split_email = input_email.split('@')[0]
    #print(split_email)

    flag_gibberish1 = False
    
    try:
        if Detector.is_gibberish(split_email):
            flag_gibberish1 = True
    except Exception as e:
        pass
    
    flag_gibberish2 = False
    
    try:
        if nonsense(split_email):
            flag_gibberish2 = True
    except Exception as e:
        pass


    if flag_gibberish1 and flag_gibberish2:
        return 1
    else:
        return 0

email = 'qywyeqeyqw123@gmail.com'
score_gibberish(email)

1

In [11]:
alfagift_member = pd.read_json('/home/server/mongo_export/alfagift_member_01jan22.json',
                              dtype='object')
alfagift_member['sapa'] = alfagift_member['sapa'].fillna('-')
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: x.get('store_code') \
                                                        if x != '-' else '-')
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: '-' \
                                                        if x == '' else x)

alfagift_member['created_at'] = alfagift_member['created_at'].fillna('2019-01-01T23:08:53.393Z')
alfagift_member['created_at'] = alfagift_member['created_at'].apply(lambda x: x.get('$date') \
                                                                    if type(x) != str else x)

# alfagift_member = alfagift_member[['account_card', 'sapa', 'created_at']]
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: 'sapa' if x != '-' else 'not_sapa')

alfagift_member['created_at_d'] = pd.to_datetime(alfagift_member['created_at']).dt.strftime("%Y-%m-%d")
alfagift_member['created_at_m'] = pd.to_datetime(alfagift_member['created_at']).dt.strftime("%Y-%m")

alfagift_member['account_card'] = alfagift_member['account_card'].astype('str')

In [12]:
alfagift_member.head()

,_id,member_status,full_name,gender,email,birth_date,phone,marital_status,account_card,createdFromIp,created_at,sapa,created_at_d,created_at_m
0,{'$oid': '61a6bb091a64344ac66a1e0f'},26,Nia,F,papikittyreborn@gmail.com,{'$date': '2006-01-10T00:00:00Z'},087851970483,S,9990013478276852,140.213.58.147,2021-12-01T00:00:09.097Z,not_sapa,2021-12-01,2021-12
1,{'$oid': '61a6bb40c655f22d7f5b759e'},26,erni ramayanti,F,syajayanira@yahoo.co.id,{'$date': '1983-12-01T00:00:00Z'},08127871033,M,9990010717145475,114.125.100.226,2021-12-01T00:01:04.98Z,not_sapa,2021-12-01,2021-12
2,{'$oid': '61a6bb54c655f22d7f5b75a2'},26,Hendra Husain,F,hendrahusain640@gmail.com,{'$date': '1997-04-29T17:00:00Z'},082395244457,M,9990013478276966,103.10.64.13,2021-12-01T00:01:24.259Z,not_sapa,2021-12-01,2021-12
3,{'$oid': '61a6bb621a64344ac66a1e18'},26,ismianti dr,F,iyanjuni02@gmail.com,{'$date': '1994-01-10T00:00:00Z'},089614735504,M,9990013478277053,180.252.94.165,2021-12-01T00:01:38.471Z,not_sapa,2021-12-01,2021-12
4,{'$oid': '61a6bb6ec655f22d7f5b75a5'},26,Oktaviana Eka Wulansari,F,oktvneka@gmail.com,{'$date': '2003-10-26T17:00:00Z'},088245644936,S,9990013478277167,114.122.202.48,2021-12-01T00:01:50.659Z,not_sapa,2021-12-01,2021-12

In [27]:
from joblib import dump, load
clf_path = './model/regis_logreg'
clf = load(clf_path)

In [57]:
## creating feature for training set


li_sus = []
for dr in pd.date_range('2021-12-01', '2022-04-19', freq='D'):
    sel_created = dr.strftime("%Y-%m-%d")

    alfagift_member_sel_d = alfagift_member[alfagift_member['created_at_d'] == sel_created]
    print("{} {}".format(sel_created, alfagift_member_sel_d.shape))


    ## suspect by IP
    alfagift_member_sel_d_ip = alfagift_member_sel_d.groupby(['createdFromIp'])\
                            .agg(createdFromIp_count=('createdFromIp','count'))


    alfagift_member_sel_d = pd.merge(alfagift_member_sel_d, 
                                     alfagift_member_sel_d_ip,
                                     on='createdFromIp', how='left').fillna(0)

    ## suspect by phone
    alfagift_member_sel_d['phone_sub'] =  alfagift_member_sel_d['phone'].str[0:9]
    alfagift_member_sel_d_phone = alfagift_member_sel_d.groupby(['phone_sub'])\
                                .agg(phoneSub_count=('phone_sub','count'))

    
    alfagift_member_sel_d = pd.merge(alfagift_member_sel_d, 
                                     alfagift_member_sel_d_phone,
                                     on='phone_sub', how='left').fillna(0)
    
    
    alfagift_member_sel_d['score_gibberish'] = alfagift_member_sel_d['email'].apply(score_gibberish)
    alfagift_member_sel_d['score_sus_email'] = alfagift_member_sel_d['email'].apply(score_sus_email)
    
    
    ## predict with model
    X_test = alfagift_member_sel_d[['score_gibberish','score_sus_email','createdFromIp_count','phoneSub_count']]
    score = [round(i[-1],4) for i in clf.predict_proba(X_test)]
    alfagift_member_sel_d['final_score'] = score
    
    
    li_sus.append(alfagift_member_sel_d)
    alfagift_member_sel_d.to_csv(
        '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud_feature/daily/{}'.format(sel_created))

    #break

2021-12-01 (7883, 14)
2021-12-02 (6789, 14)
2021-12-03 (9732, 14)
2021-12-04 (6768, 14)
2021-12-05 (6967, 14)
2021-12-06 (6623, 14)
2021-12-07 (6974, 14)
2021-12-08 (7144, 14)
2021-12-09 (6965, 14)
2021-12-10 (7587, 14)
2021-12-11 (6902, 14)
2021-12-12 (6486, 14)
2021-12-13 (7252, 14)
2021-12-14 (7741, 14)
2021-12-15 (8334, 14)
2021-12-16 (7771, 14)
2021-12-17 (9057, 14)
2021-12-18 (9197, 14)
2021-12-19 (9022, 14)
2021-12-20 (9354, 14)
2021-12-21 (10362, 14)
2021-12-22 (10654, 14)
2021-12-23 (11652, 14)
2021-12-24 (11828, 14)
2021-12-25 (12226, 14)
2021-12-26 (11424, 14)
2021-12-27 (14993, 14)
2021-12-28 (14927, 14)
2021-12-29 (14591, 14)
2021-12-30 (17435, 14)
2021-12-31 (11720, 14)
2022-01-01 (8467, 14)
2022-01-02 (9583, 14)
2022-01-03 (11755, 14)
2022-01-04 (16174, 14)
2022-01-05 (14622, 14)
2022-01-06 (22992, 14)
2022-01-07 (14545, 14)
2022-01-08 (15639, 14)
2022-01-09 (15605, 14)
2022-01-10 (15749, 14)
2022-01-11 (20511, 14)
2022-01-12 (20162, 14)
2022-01-13 (20737, 14)
2022-01-14 (23634, 14)
2022-01-15 (24630, 14)
2022-01-16 (24138, 14)
2022-01-17 (24450, 14)
2022-01-18 (19670, 14)
2022-01-19 (47065, 14)
2022-01-20 (43596, 14)
2022-01-21 (37803, 14)
2022-01-22 (35822, 14)
2022-01-23 (36113, 14)
2022-01-24 (36523, 14)
2022-01-25 (38993, 14)
2022-01-26 (40381, 14)
2022-01-27 (42875, 14)
2022-01-28 (49247, 14)
2022-01-29 (28553, 14)
2022-01-30 (22372, 14)
2022-01-31 (19442, 14)
2022-02-01 (21509, 14)
2022-02-02 (26334, 14)
2022-02-03 (28899, 14)
2022-02-04 (30826, 14)
2022-02-05 (29101, 14)
2022-02-06 (28859, 14)
2022-02-07 (28859, 14)
2022-02-08 (29762, 14)
2022-02-09 (29773, 14)
2022-02-10 (29125, 14)
2022-02-11 (89472, 14)
2022-02-12 (28763, 14)
2022-02-13 (30485, 14)
2022-02-14 (44676, 14)
2022-02-15 (27284, 14)
2022-02-16 (26556, 14)
2022-02-17 (25788, 14)
2022-02-18 (25454, 14)
2022-02-19 (19392, 14)
2022-02-20 (12734, 14)
2022-02-21 (25207, 14)
2022-02-22 (26131, 14)
2022-02-23 (25402, 14)
2022-02-24 (22719, 14)
2022-02-25 (25349, 14)
2022-02-26 (14037, 14)
2022-02-27 (13501, 14)
2022-02-28 (13797, 14)
2022-03-01 (15581, 14)
2022-03-02 (15078, 14)
2022-03-03 (14881, 14)
2022-03-04 (14451, 14)
2022-03-05 (14248, 14)
2022-03-06 (14713, 14)
2022-03-07 (15282, 14)
2022-03-08 (15663, 14)
2022-03-09 (16846, 14)
2022-03-10 (19367, 14)
2022-03-11 (33149, 14)
2022-03-12 (17645, 14)
2022-03-13 (15917, 14)
2022-03-14 (16535, 14)
2022-03-15 (16187, 14)
2022-03-16 (18047, 14)
2022-03-17 (17248, 14)
2022-03-18 (16520, 14)
2022-03-19 (16641, 14)
2022-03-20 (15306, 14)
2022-03-21 (16749, 14)
2022-03-22 (17836, 14)
2022-03-23 (18728, 14)
2022-03-24 (22499, 14)
2022-03-25 (32843, 14)
2022-03-26 (20540, 14)
2022-03-27 (15542, 14)
2022-03-28 (15255, 14)
2022-03-29 (14883, 14)
2022-03-30 (15741, 14)
2022-03-31 (13978, 14)
2022-04-01 (13748, 14)
2022-04-02 (14113, 14)
2022-04-03 (13247, 14)
2022-04-04 (11072, 14)
2022-04-05 (11260, 14)
2022-04-06 (10798, 14)
2022-04-07 (10366, 14)
2022-04-08 (12092, 14)
2022-04-09 (10751, 14)
2022-04-10 (9333, 14)
2022-04-11 (8984, 14)
2022-04-12 (9635, 14)
2022-04-13 (8137, 14)
2022-04-14 (9332, 14)
2022-04-15 (8922, 14)
2022-04-16 (8579, 14)
2022-04-17 (8600, 14)
2022-04-18 (8741, 14)
2022-04-19 (8457, 14)

In [6]:
# upper_date = datetime(2022,4,5)
# lower_date = datetime(2022,4,4)
# myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
# mydb = myclient["alfagift_member"]
# mycol = mydb["alfagift_member"]
# df_sample = pd.DataFrame(mycol.find({'created_at':{'$lt': upper_date, '$gte': lower_date}
#                                     }))[['full_name','phone','birth_date','gender','marital_status',
#                                          'account_card','createdFromIp','email','created_at']]

In [7]:
# df_sample.head()

In [8]:
# from sqlalchemy import event,create_engine,types
# driver = 'cx_oracle'
# server = '10.234.152.61' 
# database = 'alfabi' 
# username = 'report' 
# password = 'justd0it'
# engine_stmt = "oracle://%s:%s@%s/%s" % (username, password, server, database )

# engine = create_engine(engine_stmt)

# df = df_sample[['account_card']].astype(str)
# dtyp = {c:types.VARCHAR(df[c].str.len().max()) for c in df.columns[df.dtypes == 'object'].tolist()}
# df.to_sql('temp_register', engine, index=False, 
#                                           if_exists="replace", dtype=dtyp)

In [9]:
# df_sample_train = df_sample[df_sample['created_at'] < datetime(2022,3,20,12,0)]
# df_sample_test = df_sample[df_sample['created_at'] >= datetime(2022,3,31,0,0)]

In [10]:
# import redis
# import json
# from pprint import pprint
# r = redis.Redis(host="127.0.0.1", port=6379, db=0)


# dict_register_ip = {}
# r.set("register_ip", json.dumps(dict_register_ip))
# dict_register_prefix_phone = {}
# r.set("register_prefix_phone", json.dumps(dict_register_prefix_phone))
# dict_register_lower_name = {}
# r.set("register_lower_name", json.dumps(dict_register_lower_name))

In [16]:
# li_score_ip = []
# li_score_prefix_phone = []
# li_score_full_name = []

# for idx, row in df_sample_test.iterrows():
#     cur_ip = row['createdFromIp']
#     cur_prefix_phone = row['phone'][0:9]
#     cur_lower_name = row['full_name'].lower()
    
#     student_obj_as_bytes = r.get("register_ip")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_ip = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_prefix_phone")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_prefix_phone = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_lower_name")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_lower_name = json.loads(student_obj_as_str)
    
#     score_ip = 0
#     if cur_ip in register_ip:
#         if register_ip[cur_ip] > 5:
#             score_ip = 0.25
#     score_prefix_phone = 0
#     if cur_prefix_phone in register_prefix_phone:
#         if register_prefix_phone[cur_prefix_phone] > 5:
#             score_prefix_phone = 0.25
#     score_full_name = 0
#     if cur_lower_name in register_lower_name:
#         if register_lower_name[cur_lower_name] > 10:
#             score_full_name = 0.25
            
#     li_score_ip.append(score_ip)
#     li_score_prefix_phone.append(score_prefix_phone)
#     li_score_full_name.append(score_full_name)
    
    
#     #print(register_ip) 
#     if cur_ip in register_ip:
#         register_ip[cur_ip] += 1
#     else:
#         register_ip[cur_ip] = 1
        
#     if cur_prefix_phone in register_prefix_phone:
#         register_prefix_phone[cur_prefix_phone] += 1
#     else:
#         register_prefix_phone[cur_prefix_phone] = 1
        
#     if cur_lower_name in register_lower_name:
#         register_lower_name[cur_lower_name] += 1
#     else:
#         register_lower_name[cur_lower_name] = 1
        
#     r.set("register_ip", json.dumps(register_ip))
#     r.set("register_prefix_phone", json.dumps(register_prefix_phone))
#     r.set("register_lower_name", json.dumps(register_lower_name))

In [17]:
# df_sample_test['score_ip'] = li_score_ip
# df_sample_test['score_prefix_phone'] = li_score_prefix_phone
# df_sample_test['score_full_name'] = li_score_full_name
# df_sample_test['score_gibberish'] = df_sample_test['email'].apply(score_gibberish)
# df_sample_test['score_sus_email'] = df_sample_test['email'].apply(score_sus_email)

In [ ]:
# df_sample_test.head(100)

In [18]:
# df_sample_test[df_sample_test['createdFromIp'].str.contains('125.166.227.104', case=False)]

In [19]:
# df_sample_test[df_sample_test['score_ip'] >= 0.25]\
# [['full_name','phone','email','createdFromIp','score_prefix_phone','score_ip',
#   'score_full_name','score_gibberish','score_sus_email']].head(100)