In [240]:

%load_ext autoreload
%autoreload 2

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import redis
import json
from pprint import pprint
from joblib import dump, load

import pymongo
from datetime import datetime, timedelta, date
import pandas as pd
from multiprocessing import Pool

import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
from sklearn.linear_model import LogisticRegression, Lasso, RidgeClassifier
from rapidfuzz import process, fuzz
from sklearn.neural_network import MLPClassifier

from difflib import SequenceMatcher
from sklearn.cluster import KMeans

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

r = redis.Redis(host="127.0.0.1", port=6379, db=0)


from sqlalchemy import event,create_engine,types
driver = 'cx_oracle'
server = '10.234.152.61' 
database = 'alfabi' 
username = 'report' 
password = 'justd0it'
engine_stmt = "oracle://%s:%s@%s/%s" % (username, password, server, database )

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [241]:
# from register_check_prod import RegisterCheck
# from pprint import pprint
# m = RegisterCheck()


# import time
# start_time = time.time()
# pprint(m.score_user('ewauuacuwcwac@gmail.com', 'eeee', '10.1.77.18', 'adawdawddaw'))
# print("--- %s seconds ---" % (time.time() - start_time))

In [242]:
def encode(s):
    
    i = 0
    t = ''
    while i < len(s):
        if s[i].isupper():
            t += 'U'
        elif s[i].islower():
            t += 'L'
        elif s[i].isdigit():
            t += 'D'
        else:
            t += 'O'
        i += 1
        
    return t

def short_encode(s):
    i = 0
    s = encode(s)
    curr = ''
    t = ''
    
    while i < len(s):
        if curr != s[i]:
            t += s[i]
            curr = s[i]
        
        i += 1
    return t

def score_sus_email(s):

    email_input = s
    email_input = email_input.split('@')[0]
    
    
    
    pat_count_digit = encode(email_input).count('D')
    pat_encode = short_encode(email_input)
    
    if pat_encode == 'LD' and pat_count_digit >= 4:
        return 1
    elif pat_encode == 'D':
        return 1
    return 0
    
score_sus_email('123312313@gmail.com')

1

In [243]:
# from gibberish_detector import detector

# path_detector_indo = '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/indo_news.model'
# Detector = detector.create_from_model(
#     path_detector_indo
# )

# def score_gibberish(input_email):
#     split_email = input_email.split('@')[0]
    
#     flag_gibberish1 = False
    
#     try:
#         if Detector.is_gibberish(split_email):
#             flag_gibberish1 = True
#     except Exception as e:
#         pass


#     if flag_gibberish1:
#         return 1
#     else:
#         return 0

# email = 'qywyeqeyqw123@gmail.com'
# score_gibberish(email)

In [244]:
from gibberish_detector import detector

path_detector_indo = '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/indo_news.model.test'
Detector = detector.create_from_model(
    path_detector_indo
)

def score_gibberish(input_email):
    split_email = input_email.split('@')[0]
    
    score_gib = Detector.calculate_probability_of_being_gibberish(split_email)
    
    return score_gib

email = 'fadmawdwa@gmail.com'
score_gibberish(email)

3.7002451204535642

In [31]:
alfagift_member = pd.read_json('/home/server/mongo_export/alfagift_member_01jan22.json',
                              dtype='object')
alfagift_member['sapa'] = alfagift_member['sapa'].fillna('-')
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: x.get('store_code') \
                                                        if x != '-' else '-')
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: '-' \
                                                        if x == '' else x)

alfagift_member['created_at'] = alfagift_member['created_at'].fillna('2019-01-01T23:08:53.393Z')
alfagift_member['created_at'] = alfagift_member['created_at'].apply(lambda x: x.get('$date') \
                                                                    if type(x) != str else x)

# alfagift_member = alfagift_member[['account_card', 'sapa', 'created_at']]
alfagift_member['sapa'] = alfagift_member['sapa'].apply(lambda x: 'sapa' if x != '-' else 'not_sapa')

alfagift_member['created_at_d'] = pd.to_datetime(alfagift_member['created_at']).dt.strftime("%Y-%m-%d")
alfagift_member['created_at_m'] = pd.to_datetime(alfagift_member['created_at']).dt.strftime("%Y-%m")

alfagift_member['account_card'] = alfagift_member['account_card'].astype('str')

In [ ]:
# alfagift_member_sel = alfagift_member[(alfagift_member['created_at_m'] == '2022-01') |
#                                       (alfagift_member['created_at_m'] == '2022-02') |
#                                       (alfagift_member['created_at_m'] == '2022-03') |
#                                       (alfagift_member['created_at_m'] == '2022-04') ]
# alfagift_member_sel['created_at_d'] = pd.to_datetime(alfagift_member_sel['created_at']).dt.strftime("%Y-%m-%d")

# alfagift_member_sel = alfagift_member.copy()

In [89]:
### creating label for training set


li_sus = []
for dr in pd.date_range('2021-12-01', '2022-04-20', freq='D'):
    sel_created = dr.strftime("%Y-%m-%d")

    alfagift_member_sel_d = alfagift_member[alfagift_member['created_at_d'] == sel_created]
    #print(alfagift_member_sel_d.shape)


    ## suspect by IP
    alfagift_member_sel_d_ip = alfagift_member_sel_d.groupby(['createdFromIp'])\
                            .agg(createdFromIp_count=('createdFromIp','count'))
    alfagift_member_sel_d_ip = alfagift_member_sel_d_ip[
        alfagift_member_sel_d_ip['createdFromIp_count'] >= 5].reset_index()

    sus_by_ip = pd.merge(alfagift_member_sel_d_ip, alfagift_member_sel_d, on='createdFromIp', how='left')

    ## suspect by phone
    alfagift_member_sel_d['phone_sub'] =  alfagift_member_sel_d['phone'].str[0:9]
    alfagift_member_sel_d_phone = alfagift_member_sel_d.groupby(['phone_sub'])\
                                .agg(createdFromIp_count=('phone_sub','count'))
    alfagift_member_sel_d_phone = alfagift_member_sel_d_phone[
        alfagift_member_sel_d_phone['createdFromIp_count'] >= 5].reset_index()

    sus_by_phone = pd.merge(alfagift_member_sel_d_phone, alfagift_member_sel_d, on='phone_sub', how='left')

    
    alfagift_member_sel_d['score_gibberish'] = alfagift_member_sel_d['email'].apply(score_gibberish)
    
    
    ## saving by concating suspect aspect
    sus_all = pd.concat([
        sus_by_ip[['account_card','email','phone']], 
        sus_by_phone[['account_card','email','phone']],
        alfagift_member_sel_d[alfagift_member_sel_d['member_status'] == 27][['account_card','email']],
        alfagift_member_sel_d[alfagift_member_sel_d['score_gibberish'] > 4][['account_card','email']]
    ], axis=0)\
        .drop_duplicates()
    
    sus_all = sus_all[~sus_all['email'].str.contains('deliverysapa', case=False)]
    sus_all = sus_all[['account_card','phone','email']]
    
    
    ## inserting into table to check transaction
    df = sus_all[['account_card']]

    engine = create_engine(engine_stmt)


    dtyp = {c:types.VARCHAR(df[c].str.len().max()) for c in df.columns[df.dtypes == 'object'].tolist()}
    df.to_sql('temp_sus_member', engine, index=False, 
                                          if_exists="replace", dtype=dtyp)
    
    
    q = '''
    
        SELECT 
            rto.TRO_DATE, rto.TRO_PONTA_ID
        FROM 
            temp_sus_member tsm
            INNER JOIN RPT_TRANS_OSHOP rto
            ON rto.TRO_PONTA_ID = tsm.ACCOUNT_CARD 
    
    '''
    con_alfabi = engine.connect()
    df_exclude = pd.read_sql_query(q, con_alfabi)
    df_exclude_g =  df_exclude.groupby('tro_ponta_id').agg(tro_date_count=('tro_date','nunique'))
    df_exclude_g = df_exclude_g[df_exclude_g['tro_date_count'] >2].reset_index()

    
    con_alfabi.close()
    
    sus_all = sus_all[~sus_all['account_card'].isin(df_exclude_g['tro_ponta_id'])]
    ### end inserting into table to check transaction
    li_sus.append(sus_all)


    #break
    sus_all.to_csv(
        '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud/sus_{}'.format(sel_created)
    )

    

df_sus_all = pd.concat(li_sus).drop_duplicates()
df_sus_all.to_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud/sus_all_exclude_trx.csv', index=False)

In [90]:
# alfagift_member_sel_d[alfagift_member_sel_d['score_gibberish'] > 3.8]

In [245]:
string1 = "santi78951321santi"
string2 = ["santi12344", "aaaasanti"]


def seq_match(string1, li_string):
    # match = SequenceMatcher(None, string1, string2).find_longest_match()
    
#     sum_score = 0
    match_start = 0
    match_end = 0
    for string2 in li_string:
        match = SequenceMatcher(None, string1, string2).find_longest_match(0, len(string1), 0, len(string2))

#         print(match)  # -> Match(a=0, b=15, size=9)
        
        if match.size >= 3:


            if ( string1.startswith(string1[match.a:match.a + match.size]) 
                and  string2.startswith(string2[match.b:match.b + match.size]) ) :
#                 print('match in front')
                
                match_start += 1
                
            if ( string1.endswith(string1[match.a:match.a + match.size]) 
                and string2.endswith(string2[match.b:match.b + match.size]) ):
#                 print('match in end')
                
                match_end += 1
        
#         print(match_start, match_end)
#         if match_end or match_start:
#             sum_score += 1
        
        
    return match_start, match_end
    
# seq_match(string1, string2)


# ### EXAMPLE USAGE OF sequence matcher

# x = 'santi'
# alfagift_member_test = alfagift_member_sel_d[(alfagift_member_sel_d['full_name'].str.startswith(x)) | 
#                          (alfagift_member_sel_d['full_name'].str.endswith(x))][['full_name']]

# alfagift_member_test['full_name_sCount'], alfagift_member_test['full_name_eCount'] = zip(*alfagift_member_test['full_name']\
#         .apply(lambda x: seq_match(x, alfagift_member_test['full_name'])))

# alfagift_member_test.head()


def add_features(alfagift_member_sel_d):
    
    alfagift_member_sel_d['full_name_sCount'], alfagift_member_sel_d['full_name_eCount'] = \
            zip(*alfagift_member_sel_d['full_name']\
            .apply(lambda x: seq_match(x, alfagift_member_sel_d['full_name'])))
    return alfagift_member_sel_d

def parallelize_dataframe(df, func, n_cores=32):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [246]:
# ## creating feature for training set


# li_sus = []
# for dr in pd.date_range('2021-12-01', '2022-04-20', freq='D'):
#     sel_created = dr.strftime("%Y-%m-%d")

#     alfagift_member_sel_d = alfagift_member[alfagift_member['created_at_d'] == sel_created]
#     # print("{} {}".format(sel_created, alfagift_member_sel_d.shape))
#     alfagift_member_sel_d['phone_sub'] =  alfagift_member_sel_d['phone'].str[0:9]
#     alfagift_member_sel_d['full_name'] = alfagift_member_sel_d['full_name'].str.lower()
    
#     ## suspect by IP
#     alfagift_member_sel_d_ip = alfagift_member_sel_d.groupby(['createdFromIp'])\
#                             .agg(createdFromIp_count=('createdFromIp','count'))

#     alfagift_member_sel_d = pd.merge(alfagift_member_sel_d, 
#                                      alfagift_member_sel_d_ip,
#                                      on='createdFromIp', how='left').fillna(0)

#     ## suspect by phone
#     alfagift_member_sel_d_phone = alfagift_member_sel_d.groupby(['phone_sub'])\
#                                 .agg(phoneSub_count=('phone_sub','count'))

#     alfagift_member_sel_d = pd.merge(alfagift_member_sel_d, 
#                                      alfagift_member_sel_d_phone,
#                                      on='phone_sub', how='left').fillna(0)
    
    
#     alfagift_member_sel_d['score_gibberish'] = alfagift_member_sel_d['email'].apply(score_gibberish)
#     alfagift_member_sel_d['score_sus_email'] = alfagift_member_sel_d['email'].apply(score_sus_email)
    
# #     alfagift_member_sel_d['nameMatch_count'] = alfagift_member_sel_d['full_name']\
# #     .apply(lambda x: len(process.extract(x, alfagift_member_sel_d['full_name'], 
# #             score_cutoff=70, limit=alfagift_member_sel_d.shape[0], scorer=fuzz.token_sort_ratio))-1)
 
#     alfagift_member_sel_d = parallelize_dataframe(alfagift_member_sel_d, add_features)


#     li_sus.append(alfagift_member_sel_d)
#     alfagift_member_sel_d.to_csv(
#     '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud_feature/daily/{}'.format(sel_created))

#     break

# # df_sus_all = pd.concat(li_sus)
# # df_sus_all.to_csv(
# #     '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud_feature/group_day/train_full_withname1.csv'
# #     , index=False)

In [296]:
alfagift_member_sel_d.head()

,_id,member_status,full_name,gender,email,birth_date,phone,marital_status,account_card,createdFromIp,created_at,sapa,created_at_d,created_at_m,phone_sub,createdFromIp_count,phoneSub_count,score_gibberish,score_sus_email,full_name_sCount,full_name_eCount,full_name_sCount,full_name_eCount
0,{'$oid': '61a6bb091a64344ac66a1e0f'},26,nia,F,papikittyreborn@gmail.com,{'$date': '2006-01-10T00:00:00Z'},087851970483,S,9990013478276852,140.213.58.147,2021-12-01T00:00:09.097Z,not_sapa,2021-12-01,2021-12,087851970,1,1,3.23,0,1,2,1,1
1,{'$oid': '61a6bb40c655f22d7f5b759e'},26,erni ramayanti,F,syajayanira@yahoo.co.id,{'$date': '1983-12-01T00:00:00Z'},08127871033,M,9990010717145475,114.125.100.226,2021-12-01T00:01:04.98Z,not_sapa,2021-12-01,2021-12,081278710,1,1,2.33,0,1,9,1,1
2,{'$oid': '61a6bb54c655f22d7f5b75a2'},26,hendra husain,F,hendrahusain640@gmail.com,{'$date': '1997-04-29T17:00:00Z'},082395244457,M,9990013478276966,103.10.64.13,2021-12-01T00:01:24.259Z,not_sapa,2021-12-01,2021-12,082395244,1,1,2.55,0,2,1,1,1
3,{'$oid': '61a6bb621a64344ac66a1e18'},26,ismianti dr,F,iyanjuni02@gmail.com,{'$date': '1994-01-10T00:00:00Z'},089614735504,M,9990013478277053,180.252.94.165,2021-12-01T00:01:38.471Z,not_sapa,2021-12-01,2021-12,089614735,1,1,2.27,0,1,1,1,1
4,{'$oid': '61a6bb6ec655f22d7f5b75a5'},26,oktaviana eka wulansari,F,oktvneka@gmail.com,{'$date': '2003-10-26T17:00:00Z'},088245644936,S,9990013478277167,114.122.202.48,2021-12-01T00:01:50.659Z,not_sapa,2021-12-01,2021-12,088245644,1,1,4.13,0,1,6,1,1

In [300]:
alfagift_member_sel_d.shape

(7883, 23)

In [305]:
alfagift_member_sel_d.reset_index(drop=True).head()

,_id,member_status,full_name,gender,email,birth_date,phone,marital_status,account_card,createdFromIp,created_at,sapa,created_at_d,created_at_m,phone_sub,createdFromIp_count,phoneSub_count,score_gibberish,score_sus_email,full_name_sCount,full_name_eCount,full_name_sCount,full_name_eCount
0,{'$oid': '61a6bb091a64344ac66a1e0f'},26,nia,F,papikittyreborn@gmail.com,{'$date': '2006-01-10T00:00:00Z'},087851970483,S,9990013478276852,140.213.58.147,2021-12-01T00:00:09.097Z,not_sapa,2021-12-01,2021-12,087851970,1,1,3.23,0,1,2,1,1
1,{'$oid': '61a6bb40c655f22d7f5b759e'},26,erni ramayanti,F,syajayanira@yahoo.co.id,{'$date': '1983-12-01T00:00:00Z'},08127871033,M,9990010717145475,114.125.100.226,2021-12-01T00:01:04.98Z,not_sapa,2021-12-01,2021-12,081278710,1,1,2.33,0,1,9,1,1
2,{'$oid': '61a6bb54c655f22d7f5b75a2'},26,hendra husain,F,hendrahusain640@gmail.com,{'$date': '1997-04-29T17:00:00Z'},082395244457,M,9990013478276966,103.10.64.13,2021-12-01T00:01:24.259Z,not_sapa,2021-12-01,2021-12,082395244,1,1,2.55,0,2,1,1,1
3,{'$oid': '61a6bb621a64344ac66a1e18'},26,ismianti dr,F,iyanjuni02@gmail.com,{'$date': '1994-01-10T00:00:00Z'},089614735504,M,9990013478277053,180.252.94.165,2021-12-01T00:01:38.471Z,not_sapa,2021-12-01,2021-12,089614735,1,1,2.27,0,1,1,1,1
4,{'$oid': '61a6bb6ec655f22d7f5b75a5'},26,oktaviana eka wulansari,F,oktvneka@gmail.com,{'$date': '2003-10-26T17:00:00Z'},088245644936,S,9990013478277167,114.122.202.48,2021-12-01T00:01:50.659Z,not_sapa,2021-12-01,2021-12,088245644,1,1,4.13,0,1,6,1,1

In [301]:
    alfagift_member_sel_d_ip = alfagift_member_sel_d.groupby(['createdFromIp'])\
                            .agg(createdFromIp_count=('createdFromIp','cumcount'))

In [303]:
alfagift_member_sel_d_ip.reset_index(drop=True).head()

   createdFromIp_count
0                    0
1                    0
2                    0
3                    0
4                    0

In [ ]:
import time
from timeit import default_timer as timer
from multiprocessing import Pool, cpu_count

def square(dr):


    sel_created = dr.strftime("%Y-%m-%d")

    alfagift_member_sel_d = alfagift_member[alfagift_member['created_at_d'] == sel_created]\
                            .iloc[:,2:].reset_index(drop=True)
    
    
    alfagift_member_sel_d['phone_sub'] =  alfagift_member_sel_d['phone'].str[0:9]
    alfagift_member_sel_d['full_name'] = alfagift_member_sel_d['full_name'].str.lower()

    ## suspect by IP
    alfagift_member_sel_d_ip = alfagift_member_sel_d.groupby(['createdFromIp'])\
                            .agg(createdFromIp_count=('createdFromIp','cumcount')).reset_index(drop=True)

    alfagift_member_sel_d = pd.concat([alfagift_member_sel_d, 
                                     alfagift_member_sel_d_ip]
                                     ,axis=1)

    ## suspect by phone
    alfagift_member_sel_d_phone = alfagift_member_sel_d.groupby(['phone_sub'])\
                                .agg(phoneSub_count=('phone_sub','cumcount')).reset_index(drop=True)

    alfagift_member_sel_d = pd.concat([alfagift_member_sel_d, 
                                     alfagift_member_sel_d_phone]
                                     ,axis=1)
    
    
    alfagift_member_sel_d['score_gibberish'] = alfagift_member_sel_d['email'].apply(score_gibberish)
    alfagift_member_sel_d['score_sus_email'] = alfagift_member_sel_d['email'].apply(score_sus_email)
    

    li_name_count = []
    for idx, row in alfagift_member_sel_d.iterrows():
        cur_name = row['full_name']

        compare_name = list(alfagift_member_sel_d.iloc[0:idx+1,:]['full_name'])


        res_compare = seq_match(cur_name, compare_name)
        li_name_count.append(res_compare)


    df_count_name = pd.DataFrame(li_name_count, columns=['full_name_sCount', 'full_name_eCount'])
    alfagift_member_sel_d = pd.concat([alfagift_member_sel_d, df_count_name], axis=1)

    alfagift_member_sel_d.to_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud_feature/daily/{}'.format(sel_created))


    return 0


start = timer()

print(f'starting computations on {cpu_count()} cores')

values = pd.date_range('2021-12-30', '2022-04-20', freq='D')

with Pool() as pool:
    res = pool.map(square, values)
    #print(res)

end = timer()
print(f'elapsed time: {end - start}')

starting computations on 64 cores

In [294]:
## creating feature using cumulative

In [293]:
# alfagift_member_sel_d_ip1 = alfagift_member_sel_d.groupby('createdFromIp').agg(createdFromIp_count=('createdFromIp','cumcount'))

In [290]:
# from datetime import datetime
# start_time = datetime.now()

# res = seq_match('akhiyar',list(alfagift_member_sel_d.iloc[:,:]['full_name']))
# end_time = datetime.now()
# print('Duration: {}'.format(end_time - start_time))

In [ ]:
# # possible 
# ## need to check score
# afghj56diskazani
# afghj56rdiyanto
# sfghj56upriyatno
# dfghj56wiyanti
# dfghj56wiyanti
# wfgh568ahyusaputra

In [185]:
virgo_abuseinject = pd.read_excel(
    '/home/server/gli-data-science/ferina/Virgo_Abuse.xlsx'
    ,dtype=object,sheet_name='Inject', names=['account_card'])
# virgo_abuseuse = pd.read_excel(
#     '/home/server/gli-data-science/ferina/Virgo_Abuse.xlsx'
#     ,dtype=object,sheet_name='Use', names=['account_card'])

## load feature and label 
df_sus_all = pd.read_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/suspect_fraud_feature/group_day/train_full_withname1.csv'
    , dtype='object')
# df_sus_all = df_sus_all[(df_sus_all['created_at_d'] >= '2021-12-01') 
#                         & (df_sus_all['created_at_d'] <= '2022-04-17')]


sus_label = pd.read_csv('./suspect_fraud/sus_all_exclude_trx.csv', dtype='object', usecols=[0])


df_label = pd.concat([sus_label, virgo_abuseinject, virgo_abuseuse]).drop_duplicates()
df_label['label'] = 1

## merging feature with suspect label
df_train = pd.merge(df_sus_all, df_label, on='account_card', how='left')
df_train['label'] = df_train['label'].fillna(0)

df_train['score_gibberish'] = df_train['score_gibberish'].astype(float).astype(int)
df_train['score_sus_email'] = df_train['score_sus_email'].astype(int)
df_train['createdFromIp_count'] = df_train['createdFromIp_count'].astype(int)
df_train['phoneSub_count'] = df_train['phoneSub_count'].astype(int)
df_train['full_name_sCount'] = df_train['full_name_sCount'].astype(int)
df_train['full_name_eCount'] = df_train['full_name_eCount'].astype(int)

In [186]:
wrap_col = [
'score_gibberish',
'score_sus_email',
'createdFromIp_count',
'phoneSub_count',
'full_name_sCount',
'full_name_eCount'
]
X = df_train[wrap_col]
y = df_train[['label']]

In [206]:
#Initiating the Agglomerative Clustering model 
AC = KMeans(n_clusters=9, random_state=0)
# AC = KModes(n_clusters=5, init='Huang', n_init=5, verbose=1)

# fit model and predict clusters without PCA
yhat_AC = AC.fit_predict(X)

df_train["Clusters"]= yhat_AC

In [207]:
df_train["Clusters"].value_counts()

0    2168317
3     310526
6      76459
8      34063
4      14996
2       7571
1       7337
5       6699
7       1750
Name: Clusters, dtype: int64

In [238]:
df_train[df_train['Clusters'] == 8].iloc[:,15:-2]\
.describe()

,createdFromIp_count,phoneSub_count,score_gibberish,score_sus_email,full_name_sCount,full_name_eCount
count,34063.00,34063.00,34063.00,34063.00,34063.00,34063.00
mean,3.78,10.31,4.15,0.05,53.23,6.95
std,6.86,13.91,1.33,0.21,20.06,13.72
min,1.00,1.00,0.00,0.00,14.00,1.00
25%,1.00,1.00,3.00,0.00,36.00,1.00
50%,1.00,5.00,4.00,0.00,49.00,1.00
75%,3.00,13.00,5.00,0.00,65.00,4.00
max,81.00,106.00,9.00,1.00,113.00,91.00

In [237]:
# df_train[(df_train['Clusters'] == 8)]['created_at_d'].value_counts()

In [236]:
df_train[(df_train['Clusters'] == 6) & (df_train['created_at_d'] > '2022-04-05')]

,_id,member_status,full_name,gender,email,birth_date,phone,marital_status,account_card,createdFromIp,created_at,sapa,created_at_d,created_at_m,phone_sub,createdFromIp_count,phoneSub_count,score_gibberish,score_sus_email,full_name_sCount,full_name_eCount,label,Clusters
2486467,{'$oid': '624cfa5c595d5660b6db6c53'},26,anggi kp,F,kleptomaniakygdikasihi@gmail.com,{'$date': '1990-02-12T00:00:00Z'},083832939830,M,9990013751925080,110.138.86.59,2022-04-06T02:26:36.015Z,not_sapa,2022-04-06,2022-04,083832939,38,1,2,0,1,1,1.00,6
2486550,{'$oid': '624cfc4a5bb9f4497a6e9a22'},26,gunah,M,werdi23@yahoo.com,{'$date': '1993-03-18T00:00:00Z'},085697053452,M,9990013751934193,112.215.243.12,2022-04-06T02:34:50.69Z,not_sapa,2022-04-06,2022-04,085697053,33,1,2,0,1,5,1.00,6
2486611,{'$oid': '624cfdadae855d51cd3d9842'},26,ajeng vb,F,doipilahpilihaje@gmail.com,{'$date': '1988-08-05T00:00:00Z'},083865471967,S,9990013751940851,110.138.86.59,2022-04-06T02:40:45.174Z,not_sapa,2022-04-06,2022-04,083865471,38,5,2,0,1,1,1.00,6
2486717,{'$oid': '624d002bafcd8e34e346b407'},26,indah,F,jiuhuu@yahoo.com,{'$date': '1994-06-12T00:00:00Z'},083897807336,M,9990013751953332,112.215.243.12,2022-04-06T02:51:23.483Z,not_sapa,2022-04-06,2022-04,083897807,33,1,3,0,2,3,1.00,6
2486731,{'$oid': '624d0060a1638559d636acae'},26,helmy op,M,dimanamanaadadia@gmail.com,{'$date': '1989-10-11T00:00:00Z'},083857274529,M,9990013751954929,110.138.86.59,2022-04-06T02:52:16.984Z,not_sapa,2022-04-06,2022-04,083857274,38,3,2,0,1,1,1.00,6
2486840,{'$oid': '624d0256965c4c2c95e5aeea'},26,renata,F,rewd23@yahoo.com,{'$date': '1995-05-08T00:00:00Z'},083899227819,M,9990013751966511,112.215.243.12,2022-04-06T03:00:38.707Z,not_sapa,2022-04-06,2022-04,083899227,33,1,4,0,4,2,1.00,6
2486886,{'$oid': '624d0345ae855d51cd3d98f7'},26,nabila sh,F,sepedalagulodah@gmail.com,{'$date': '1983-05-17T00:00:00Z'},083838770977,M,9990013751972000,110.138.86.59,2022-04-06T03:04:37.915Z,not_sapa,2022-04-06,2022-04,083838770,38,3,2,0,2,1,1.00,6
2487060,{'$oid': '624d06f85bb9f4497a6e9b37'},26,dul ks,M,disanasenangdisinisenang@gmail.com,{'$date': '1992-10-12T00:00:00Z'},083837078621,S,9990013751994051,110.138.86.59,2022-04-06T03:20:24.368Z,not_sapa,2022-04-06,2022-04,083837078,38,1,1,0,1,1,1.00,6
2487172,{'$oid': '624d095c965c4c2c95e5affc'},26,fitta,F,fiiitui23@yahoo.com,{'$date': '1996-06-15T00:00:00Z'},083893432616,M,9990013752008690,112.215.243.12,2022-04-06T03:30:36.383Z,not_sapa,2022-04-06,2022-04,083893432,33,1,3,0,4,1,1.00,6
2487175,{'$oid': '624d09709c150f3670e1ec80'},26,novi bg,F,santuyajadulubisku@gmail.com,{'$date': '1986-10-12T00:00:00Z'},083839585131,M,9990013752008932,110.138.86.59,2022-04-06T03:30:56.217Z,not_sapa,2022-04-06,2022-04,083839585,38,1,2,0,3,1,1.00,6
2487272,{'$oid': '624d0b492a15bc21031e0c7a'},26,giordan,M,yuhuji45@yahoo.com,{'$date': '1998-06-14T00:00:00Z'},087884374194,S,9990013752019615,112.215.243.12,2022-04-06T03:38:49.6Z,not_sapa,2022-04-06,2022-04,087884374,33,1,3,0,2,1,1.00,6
2487335,{'$oid': '624d0c5d2a15bc21031e0c9d'},26,noah rel,M,samandirarusuh@gmail.com,{'$date': '1989-11-12T00:00:00Z'},083848778894,M,9990013752026816,110.138.86.59,2022-04-06T03:43:25.051Z,not_sapa,2022-04-06,2022-04,083848778,38,1,2,0,1,1,1.00,6
2487343,{'$oid': '624d0c889c150f3670e1ecfc'},26,jika,M,ejninse32@yahoo.com,{'$date': '1993-01-13T00:00:00Z'},085780322904,M,9990013752028144,112.215.243.12,2022-04-06T03:44:08.963Z,not_sapa,2022-04-06,2022-04,085780322,33,1,3,0,1,4,1.00,6
2487455,{'$oid': '624d0ef2afcd8e34e346b5e4'},26,yogi,M,biyonseasenokmgi@gmail.com,{'$date': '1993-03-11T00:00:00Z'},083841677546,M,9990013752041063,110.138.86.59,2022-04-06T03:54:26.471Z,not_sapa,2022-04-06,2022-04,083841677,38,1,3,0,1,1,1.00,6
2487507,{'$oid': '624d101f965c4c2c95e5b0d3'},26,satria,M,kuncnsingsalamekaru@gmail.com,{'$date': '1989-09-13T00:00:00Z'},083839571336,M,9990013752047739,110.138.86.59,2022-04-06T03:59:27.165Z,not_sapa,2022-04-06,2022-04,083839571,38,1,2,0,2,1,1.00,6
2487590,{'$oid': '624d1192ae855d51cd3d9ab2'},26,aryo,M,punahwiryosandib@gmail.com,{'$date': '1992-11-16T00:00:00Z'},083822799644,M,9990013752057865,110.138.86.59,2022-04-06T04:05:38.457Z,not_sapa,2022-04-06,2022-04,083822799,38,1,2,0,2,1,1.00,6
2487666,{'$oid': '624d12cc72835e7245ad70a0'},26,rere,M,dandisaatpenggodau@gmail.com,{'$date': '1997-03-08T00:00:00Z'},083113360671,S,9990013752066978,110.138.86.59,2022-04-06T04:10:52.276Z,not_sapa,2022-04-06,2022-04,083113360,38,1,2,0,1,1,1.00,6
2487758,{'$oid': '624d145d595d5660b6db6fa3'},26,dandy,F,dankupernahjdtesrbaua@gmail.com,{'$date': '1999-10-21T00:00:00Z'},083821629419,S,9990013752076876,110.138.86.59,2022-04-06T04:17:33.494Z,not_sapa,2022-04-06,2022-04,083821629,38,1,3,0,1,2,1.00,6
2487862,{'$oid': '624d16772a15bc21031e0ddb'},26,bakti,M,bagaiembunpagiw@gmail.com,{'$date': '1994-05-11T00:00:00Z'},083861325870,M,9990013752088458,110.138.86.59,2022-04-06T04:26:31.978Z,not_sapa,2022-04-06,2022-04,083861325,38,1,2,0,1,1,1.00,6
2487926,{'$oid': '624d17b5ae855d51cd3d9b79'},26,prim,F,lewqtlagiunini@gmail.com,{'$date': '1997-04-10T00:00:00Z'},083822055929,M,9990013752096914,110.138.86.59,2022-04-06T04:31:49.936Z,not_sapa,2022-04-06,2022-04,083822055,38,1,3,0,1,1,1.00,6
2488092,{'$oid': '624d1a922a15bc21031e0e5c'},26,binsar,M,baiannb@yahoo.com,{'$date': '1997-06-12T00:00:00Z'},083138281217,S,9990013752115916,112.215.243.12,2022-04-06T04:44:02.998Z,not_sapa,2022-04-06,2022-04,083138281,33,1,2,0,1,1,1.00,6
2488108,{'$oid': '624d1ad19c150f3670e1ee96'},26,riza,M,kalobylanbisangomo@gmail.com,{'$date': '1992-02-06T00:00:00Z'},083116732307,M,9990013752117600,110.138.86.59,2022-04-06T04:45:05.297Z,not_sapa,2022-04-06,2022-04,083116732,38,1,2,0,3,1,1.00,6
2488199,{'$oid': '624d1c75965c4c2c95e5b245'},26,yudha,M,belibsjanuabuo@gmail.com,{'$date': '1991-11-11T00:00:00Z'},083832993588,M,9990013752127256,110.138.86.59,2022-04-06T04:52:05.923Z,not_sapa,2022-04-06,2022-04,083832993,38,1,3,0,1,1,1.00,6
2488211,{'$oid': '624d1ca2afcd8e34e346b7b3'},26,adista,M,aderse@yahoo.com,{'$date': '1998-05-17T00:00:00Z'},085697078253,M,9990013752128155,112.215.243.12,2022-04-06T04:52:50.555Z,not_sapa,2022-04-06,2022-04,085697078,33,1,2,0,1,1,1.00,6
2488265,{'$oid': '624d1da45bb9f4497a6e9e0a'},26,lintang,M,nialadwaping@gmail.com,{'$date': '1995-01-11T00:00:00Z'},083120261809,M,9990013752134229,110.138.86.59,2022-04-06T04:57:08.085Z,not_sapa,2022-04-06,2022-04,083120261,38,2,2,0,2,3,1.00,6
2488317,{'$oid': '624d1e8b472eb133d8b47cab'},26,rita,F,ritaa24@yahoo.com,{'$date': '1998-06-23T00:00:00Z'},083894101489,S,9990013752139878,112.215.243.12,2022-04-06T05:00:59.08Z,not_sapa,2022-04-06,2022-04,083894101,33,1,2,0,1,3,1.00,6
2488333,{'$oid': '624d1eeca1638559d636b096'},26,gowan,M,mataelangehehewe@gmail.com,{'$date': '1999-11-26T00:00:00Z'},083824719397,M,9990013752141188,110.138.86.59,2022-04-06T05:02:36.859Z,not_sapa,2022-04-06,2022-04,083824719,38,1,2,0,1,6,1.00,6
2488414,{'$oid': '624d20199c150f3670e1ef4e'},26,nala,F,matehfarcehell@gmail.com,{'$date': '1996-03-07T00:00:00Z'},083822627794,M,9990013752150999,110.138.86.59,2022-04-06T05:07:37.509Z,not_sapa,2022-04-06,2022-04,083822627,38,1,3,0,1,2,1.00,6
2488422,{'$oid': '624d2045ae855d51cd3d9ca0'},26,yati,F,yaticg34@yahoo.com,{'$date': '1994-02-10T00:00:00Z'},083894032013,M,9990013752151784,112.215.243.12,2022-04-06T05:08:21.195Z,not_sapa,2022-04-06,2022-04,083894032,33,1,3,0,1,22,1.00,6
2488501,{'$oid': '624d2185965c4c2c95e5b2cd'},26,yani,F,aderinsnmamsury@gmail.com,{'$date': '1992-11-11T00:00:00Z'},083831301239,M,9990013752161112,110.138.86.59,2022-04-06T05:13:41.69Z,not_sapa,2022-04-06,2022-04,083831301,38,3,2,0,2,17,1.00,6
2488561,{'$oid': '624d270b2a15bc21031e0fd6'},26,arini,F,ar1n1brey@gmail.com,{'$date': '1994-10-30T00:00:00Z'},082115044302,M,9990013752174049,112.215.243.12,2022-04-06T05:37:15.392Z,not_sapa,2022-04-06,2022-04,082115044,33,1,3,0,3,5,1.00,6
2488946,{'$oid': '624d2d7ba1638559d636b22d'},26,faruq,F,ilabrurgaftruqi@gmail.com,{'$date': '1992-02-06T00:00:00Z'},083135843235,M,9990013752215799,110.138.86.59,2022-04-06T06:04:43.17Z,not_sapa,2022-04-06,2022-04,083135843,38,2,3,0,2,1,1.00,6
2489080,{'$oid': '624d2ff2472eb133d8b47e97'},26,reni,F,renikusnnanikn@gmail.com,{'$date': '1998-09-30T00:00:00Z'},083829422252,S,9990013752229535,110.138.86.59,2022-04-06T06:15:14.78Z,not_sapa,2022-04-06,2022-04,083829422,38,1,2,0,2,2,1.00,6
2489168,{'$oid': '624d31bd595d5660b6db72e3'},26,obi,M,sagraibooii@gmail.com,{'$date': '1991-05-12T00:00:00Z'},083832908493,M,9990013752238534,110.138.86.59,2022-04-06T06:22:53.334Z,not_sapa,2022-04-06,2022-04,083832908,38,3,3,0,1,1,1.00,6
2489304,{'$oid': '624d34ad9c150f3670e1f198'},26,eki,M,xariakukudavdk@gmail.com,{'$date': '2000-04-10T00:00:00Z'},083832915132,S,9990013752253600,110.138.86.59,2022-04-06T06:35:25.237Z,not_sapa,2022-04-06,2022-04,083832915,38,5,3,0,1,1,1.00,6
2489362,{'$oid': '624d35e9472eb133d8b47f52'},26,sandit,M,tapimengakspntek@gmail.com,{'$date': '1995-06-30T00:00:00Z'},083832907681,M,9990013752259685,110.138.86.59,2022-04-06T06:40:41.152Z,not_sapa,2022-04-06,2022-04,083832907,38,1,2,0,2,1,1.00,6
2490994,{'$oid': '624d5769afcd8e34e346bef8'},26,astrid,F,asejjiei@yahoo.com,{'$date': '1996-05-11T00:00:00Z'},083895502953,M,9990013752438328,112.215.243.12,2022-04-06T09:03:37.943Z,not_sapa,2022-04-06,2022-04,083895502,33,2,4,0,1,1,1.00,6
2491069,{'$oid': '624d5909afcd8e34e346bf20'},26,imar,F,imaryuj@yahoo.com,{'$date': '1994-06-12T00:00:00Z'},081212183203,M,9990013752447783,112.215.243.12,2022-04-06T09:10:33.111Z,not_sapa,2022-04-06,2022-04,081212183,33,1,3,0,2,2,1.00,6
2491228,{'$oid': '624d5c9e472eb133d8b48317'},26,ambyar,M,ahniovd3@yahoo.com,{'$date': '1992-06-16T00:00:00Z'},085823078410,M,9990013752468022,112.215.243.12,2022-04-06T09:25:50.802Z,not_sapa,2022-04-06,2022-04,085823078,33,1,4,0,1,1,1.00,6
2491351,{'$oid': '624d5f4e5bb9f4497a6ea552'},26,yunita,F,yunn255@yahoo.com,{'$date': '1991-02-08T00:00:00Z'},083893771246,M,9990013752481981,112.215.243.12,2022-04-06T09:37:18.591Z,not_sapa,2022-04-06,2022-04,083893771,33,2,3,0,1,7,1.00,6
2492620,{'$oid': '624d7e88965c4c2c95e5bd5b'},26,amar,M,maegvft@yahoo.com,{'$date': '1995-03-13T00:00:00Z'},081393554761,M,9990013752631131,112.215.243.12,2022-04-06T11:50:32.191Z,not_sapa,2022-04-06,2022-04,081393554,33,1,5,0,1,1,1.00,6
2492700,{'$oid': '624d804f5bb9f4497a6ea936'},26,jumi,F,jumiyhh23@yahoo.com,{'$date': '1997-06-08T00:00:00Z'},083897499312,M,9990013752640016,112.215.243.12,2022-04-06T11:58:07.581Z,not_sapa,2022-04-06,2022-04,083897499,33,1,3,0,1,1,1.00,6
2492784,{'$oid': '624d821d5bb9f4497a6ea972'},26,vimar,M,vimdetg@yahoo.com,{'$date': '1998-06-08T00:00:00Z'},085780292192,S,9990013752649845,112.215.243.12,2022-04-06T12:05:49.699Z,not_sapa,2022-04-06,2022-04,085780292,33,1,3,0,1,2,1.00,6
2492867,{'$oid': '624d83af595d5660b6db7bd2'},26,imar,F,inefcswe32@yahoo.com,{'$date': '1991-05-12T00:00:00Z'},087843945075,M,9990013752659273,112.215.243.12,2022-04-06T12:12:31.373Z,not_sapa,2022-04-06,2022-04,087843945,33,1,4,0,1,2,1.00,6
2493339,{'$oid': '624d8dfea1638559d636bc7f'},26,andra,M,yubio34@yahoo.com,{'$date': '1999-05-10T00:00:00Z'},087733255437,S,9990013752715170,112.215.243.12,2022-04-06T12:56:30.017Z,not_sapa,2022-04-06,2022-04,087733255,33,1,3,0,3,2,1.00,6
2493416,{'$oid': '624d8f95afcd8e34e346c3ec'},26,sento,M,sejnji@yahoo.com,{'$date': '1993-06-13T00:00:00Z'},083898210795,S,9990013752723270,112.215.243.12,2022-04-06T13:03:17.05Z,not_sapa,2022-04-06,2022-04,083898210,33,1,4,0,1,8,1.00,6
2493606,{'$oid': '624d9427472eb133d8b488d3'},26,seuon,M,etyy23@yahoo.com,{'$date': '1995-05-08T00:00:00Z'},085697110241,S,9990013752744549,112.215.243.12,2022-04-06T13:22:47.042Z,not_sapa,2022-04-06,2022-04,085697110,33,1,4,0,1,1,1.00,6
2493674,{'$oid': '624d95a8a1638559d636bd68'},26,alvin,M,dontuevaforabsb@gmail.com,{'$date': '1993-11-11T00:00:00Z'},083120261927,M,9990013752752421,110.138.86.59,2022-04-06T13:29:12.039Z,not_sapa,2022-04-06,2022-04,083120261,38,2,3,0,2,2,1.00,6
2493724,{'$oid': '624d96b39c150f3670e1fc04'},26,geby,F,geuuuxe@yahoo.com,{'$date': '1995-02-11T00:00:00Z'},082134580603,M,9990013752758043,112.215.243.12,2022-04-06T13:33:39.106Z,not_sapa,2022-04-06,2022-04,082134580,33,1,5,0,1,1,1.00,6
2493761,{'$oid': '624d9753595d5660b6db7de5'},26,nur,F,krnmlmnimlmyg@gmail.com,{'$date': '1995-04-11T00:00:00Z'},083832922478,M,9990013752761648,110.138.86.59,2022-04-06T13:36:19.592Z,not_sapa,2022-04-06,2022-04,083832922,38,1,4,0,9,1,1.00,6
2493815,{'$oid': '624d98b1472eb133d8b48929'},26,wijaya,M,wiiysbe@yahoo.com,{'$date': '1995-03-14T00:00:00Z'},083165084652,M,9990013752768867,112.215.243.12,2022-04-06T13:42:09.886Z,not_sapa,2022-04-06,2022-04,083165084,33,1,3,0,1,1,1.00,6
2493870,{'$oid': '624d99b7a1638559d636bdaf'},26,erna,F,bujuggdahhetdah@gmail.com,{'$date': '1992-02-17T00:00:00Z'},083824713544,M,9990013752775370,110.138.86.59,2022-04-06T13:46:31.953Z,not_sapa,2022-04-06,2022-04,083824713,38,1,2,0,2,1,1.00,6
2493890,{'$oid': '624d9a3e472eb133d8b48945'},26,kita,M,ksieurbb2@yahoo.com,{'$date': '1991-03-18T00:00:00Z'},085792223221,M,9990013752777524,112.215.243.12,2022-04-06T13:48:46.184Z,not_sapa,2022-04-06,2022-04,085792223,33,1,3,0,1,3,1.00,6
2494001,{'$oid': '624d9c77965c4c2c95e5c030'},26,stella,F,lelahahtiinimwnyakink@gmail.com,{'$date': '1993-01-11T00:00:00Z'},083829424988,M,9990013752787992,110.138.86.59,2022-04-06T13:58:15.718Z,not_sapa,2022-04-06,2022-04,083829424,38,1,2,0,1,3,1.00,6
2494026,{'$oid': '624d9cf0595d5660b6db7e6e'},26,fitria,F,fieuebb2@yahoo.com,{'$date': '1996-06-13T00:00:00Z'},085823094697,M,9990013752790785,112.215.243.12,2022-04-06T14:00:16.649Z,not_sapa,2022-04-06,2022-04,085823094,33,1,4,0,2,3,1.00,6
2494101,{'$oid': '624d9e95ae855d51cd3daa32'},26,sernita,F,detbui45@yahoo.com,{'$date': '1995-08-15T00:00:00Z'},082133545836,M,9990013752799000,112.215.243.12,2022-04-06T14:07:17.012Z,not_sapa,2022-04-06,2022-04,082133545,33,1,3,0,1,3,1.00,6
2494115,{'$oid': '624d9eca472eb133d8b489bf'},26,tesa,F,hanykatkujanji@gmail.com,{'$date': '1994-09-16T00:00:00Z'},083857273386,M,9990013752800560,110.138.86.59,2022-04-06T14:08:10.975Z,not_sapa,2022-04-06,2022-04,083857273,38,3,2,0,1,1,1.00,6
2494189,{'$oid': '624da0ed472eb133d8b489e6'},26,eka,F,mimpipanjangyajan@gmail.com,{'$date': '1996-02-20T00:00:00Z'},083849409651,M,9990013752808336,110.138.86.59,2022-04-06T14:17:17.717Z,not_sapa,2022-04-06,2022-04,083849409,38,2,2,0,6,1,1.00,6
2494192,{'$oid': '624da101472eb133d8b489eb'},26,ifah,F,ijvttgf23@yahoo.com,{'$date': '1997-05-12T00:00:00Z'},083893771213,S,9990013752808564,112.215.243.12,2022-04-06T14:17:37.832Z,not_sapa,2022-04-06,2022-04,083893771,33,2,6,0,1,2,1.00,6
2494251,{'$oid': '624da29e5bb9f4497a6eac99'},26,himar,M,yubuii35@yahoo.com,{'$date': '1994-02-17T00:00:00Z'},085941314720,M,9990013752815300,112.215.243.12,2022-04-06T14:24:30.717Z,not_sapa,2022-04-06,2022-04,085941314,33,1,3,0,1,1,1.00,6
2494274,{'$oid': '624da3162a15bc21031e1dfa'},26,gozali,M,gzleve@gmail.com,{'$date': '1995-01-24T00:00:00Z'},083829143753,M,9990013752818234,110.138.86.59,2022-04-06T14:26:30.469Z,not_sapa,2022-04-06,2022-04,083829143,38,1,4,0,1,2,1.00,6
2494327,{'$oid': '624da45f472eb133d8b48a24'},26,alise,F,tokwejdbdisisbjo@gmail.com,{'$date': '1997-02-22T00:00:00Z'},083831301251,M,9990013752823751,110.138.86.59,2022-04-06T14:31:59.381Z,not_sapa,2022-04-06,2022-04,083831301,38,3,4,0,3,1,1.00,6
2494342,{'$oid': '624da4975bb9f4497a6eacc9'},26,ali,M,aliyuube3@yahoo.com,{'$date': '1992-05-17T00:00:00Z'},085745222378,M,9990013752824878,112.215.243.12,2022-04-06T14:32:55.079Z,not_sapa,2022-04-06,2022-04,085745222,33,1,3,0,3,2,1.00,6
2494411,{'$oid': '624da637472eb133d8b48a62'},26,nimal,F,nimaloig3@yahoo.com,{'$date': '1994-02-11T00:00:00Z'},083898645227,M,9990013752832400,112.215.243.12,2022-04-06T14:39:51.982Z,not_sapa,2022-04-06,2022-04,083898645,33,1,3,0,1,1,1.00,6
2494449,{'$oid': '624da72c965c4c2c95e5c0df'},26,amy,M,nsmacakingmartbn@gmail.com,{'$date': '1994-09-20T00:00:00Z'},083832915156,M,9990013752835789,110.138.86.59,2022-04-06T14:43:56.993Z,not_sapa,2022-04-06,2022-04,083832915,38,5,3,0,1,1,1.00,6
2494475,{'$oid': '624da83f472eb133d8b48a91'},26,tannia,F,yuvijb@yahoo.com,{'$date': '1995-06-18T00:00:00Z'},085695930335,M,9990013752838842,112.215.243.12,2022-04-06T14:48:31.078Z,not_sapa,2022-04-06,2022-04,085695930,33,1,5,0,1,2,1.00,6
2494489,{'$oid': '624da88f72835e7245ad80ae'},26,sugianti,F,treboxxtrenondu@gmail.com,{'$date': '1987-12-23T00:00:00Z'},083838770916,M,9990013752840494,110.138.86.59,2022-04-06T14:49:51.921Z,not_sapa,2022-04-06,2022-04,083838770,38,3,3,0,2,7,1.00,6
2494539,{'$oid': '624da9dc965c4c2c95e5c10a'},26,retno,F,retnoiof@yahoo.com,{'$date': '1997-06-16T00:00:00Z'},087778673980,M,9990013752845345,112.215.243.12,2022-04-06T14:55:24.68Z,not_sapa,2022-04-06,2022-04,087778673,33,1,3,0,1,2,1.00,6
2494572,{'$oid': '624daaae965c4c2c95e5c118'},26,dara,F,ohgolodejainvu@gmail.com,{'$date': '1994-04-21T00:00:00Z'},083153395577,M,9990013752848854,110.138.86.59,2022-04-06T14:58:54.922Z,not_sapa,2022-04-06,2022-04,083153395,38,1,3,0,1,4,1.00,6
2494612,{'$oid': '624dabde595d5660b6db7f72'},26,alvin,M,maningalvinbb@gmail.com,{'$date': '1991-04-16T00:00:00Z'},083848684830,M,9990013752853089,110.138.86.59,2022-04-06T15:03:58.836Z,not_sapa,2022-04-06,2022-04,083848684,38,1,2,0,1,1,1.00,6
2494648,{'$oid': '624dad20afcd8e34e346c669'},26,erma quadrat,F,pasukinmasukinangin@gmail.com,{'$date': '1977-08-15T00:00:00Z'},083865471943,M,9990013752856484,110.138.86.59,2022-04-06T15:09:20.289Z,not_sapa,2022-04-06,2022-04,083865471,38,5,2,0,1,1,1.00,6
2497472,{'$oid': '624e4f81b4ac4253153c5b3d'},26,weda,M,wedrsd3@yahoo.com,{'$date': '1989-05-15T00:00:00Z'},083894031241,M,9990013753140541,112.215.243.12,2022-04-07T02:42:09.986Z,not_sapa,2022-04-07,2022-04,083894031,32,1,3,0,1,1,1.00,6
2497543,{'$oid': '624e50e695ccb05d3b50a349'},26,ardi,M,artvy@yahoo.com,{'$date': '1990-06-13T00:00:00Z'},085697126133,M,9990013753148431,112.215.243.12,2022-04-07T02:48:06.268Z,not_sapa,2022-04-07,2022-04,085697126,32,1,4,0,1,2,1.00,6
2497650,{'$oid': '624e53160625572a7a493b4f'},26,firda,F,fiery@yahoo.com,{'$date': '1990-02-13T00:00:00Z'},082136569454,M,9990013753161934,112.215.243.12,2022-04-07T02:57:26.362Z,not_sapa,2022-04-07,2022-04,082136569,32,1,3,0,1,2,1.00,6
2498043,{'$oid': '624e5a61997c8940d762a6a4'},26,yanu,M,asetv@yahoo.com,{'$date': '1999-11-04T00:00:00Z'},081215883843,M,9990013753206354,112.215.243.12,2022-04-07T03:28:33.846Z,not_sapa,2022-04-07,2022-04,081215883,32,1,3,0,1,1,1.00,6
2498117,{'$oid': '624e5bc8b4ac4253153c5ca2'},26,refanti,F,recguj@yahoo.com,{'$date': '1996-03-24T00:00:00Z'},085891010312,S,9990013753215239,112.215.243.12,2022-04-07T03:34:32.553Z,not_sapa,2022-04-07,2022-04,085891010,32,1,4,0,1,7,1.00,6
2498234,{'$oid': '624e5dd269b4fd477aec31bf'},26,amira,F,amirabbz@yahoo.com,{'$date': '2000-07-13T00:00:00Z'},087833356260,S,9990013753228874,112.215.243.12,2022-04-07T03:43:14.205Z,not_sapa,2022-04-07,2022-04,087833356,32,1,4,0,1,3,1.00,6
2498588,{'$oid': '624e6550533d874ca1ed3a10'},26,resya,F,seryu@hotmail.com,{'$date': '1992-07-17T00:00:00Z'},081390965045,M,9990013753270132,112.215.243.12,2022-04-07T04:15:12.127Z,not_sapa,2022-04-07,2022-04,081390965,32,1,2,0,1,2,1.00,6
2499076,{'$oid': '624e6e490625572a7a493f1a'},26,lenni,F,lenni3@hotmail.com,{'$date': '1992-01-25T00:00:00Z'},081348108538,M,9990013753324833,112.215.243.12,2022-04-07T04:53:29.435Z,not_sapa,2022-04-07,2022-04,081348108,32,1,2,0,1,1,1.00,6
2499364,{'$oid': '624e739cb4ac4253153c5fd9'},26,finaa,M,finafer@hotmail.com,{'$date': '1999-06-13T00:00:00Z'},082138351573,S,9990013753357566,112.215.243.12,2022-04-07T05:16:12.307Z,not_sapa,2022-04-07,2022-04,082138351,32,1,2,0,1,2,1.00,6
2499514,{'$oid': '624e76c90625572a7a49405f'},26,sertu,M,setubd@hotmail.com,{'$date': '1995-05-13T00:00:00Z'},083893432862,S,9990013753373424,112.215.243.12,2022-04-07T05:29:45.643Z,not_sapa,2022-04-07,2022-04,083893432,32,1,3,0,1,1,1.00,6

In [96]:
# regressor = DecisionTreeClassifier(random_state=0, max_depth=4)
# regressor.fit(X,y)


# dump(regressor, './model/regis_dtree')
# r = export_text(regressor, feature_names=list(X), decimals=0, spacing=6)
# print("prediction rule \n\n{}".format(r))

In [123]:
clf = LogisticRegression(random_state=0)
clf.fit(X.values, y.values.ravel())
dump(clf, './model/regis_logreg_withname1.pkl')

['./model/regis_logreg_withname1.pkl']

In [124]:
X.values[3]

array(['2.2673275613367374', '0', '1', '1', '1'], dtype=object)

In [148]:
li_input = [[
    2,
    0,
    5,
    0,
    100,
]]
X_test = np.array(li_input)
clf.predict_proba(X_test)

array([[0.97925527, 0.02074473]])

In [126]:
clf.coef_

array([[1.7679208 , 0.4569415 , 0.26816545, 0.59626202, 0.00333049]])

In [74]:
# ## for concating feature and bobot
# pd.concat([pd.DataFrame(list(X), columns=['variabel']), 
#            pd.DataFrame(pd.Series(clf.coef_[0]), columns=['bobot'])], 1)\
# .append({'variabel':'intercept','bobot':clf.intercept_[0]},ignore_index=True)

wrap_col = [
'score_gibberish',
'score_sus_email',
'createdFromIp_count',
'phoneSub_count',
'full_name_sCount',
# 'full_name_eCount'
]
res_pred = pd.concat([
    pd.DataFrame(wrap_col, columns=['variabel']), 
    pd.DataFrame(clf.coef_[0], columns=['bobot']),
    pd.DataFrame(X_test[0], columns=['feature'])      
], 1)
# res_pred['feature'] = res_pred['feature'].astype(int) 
# res_pred['b*f'] = res_pred['bobot'] * res_pred['feature']



# dict_score_parameter = {}
# for idx, row in res_pred.iterrows():
#     dict_score_parameter[row['variabel']] = row['b*f']
res_pred

              variabel  bobot  feature
0      score_gibberish  -0.49     3.60
1      score_sus_email  -0.77     1.00
2  createdFromIp_count   0.01     6.00
3       phoneSub_count   0.03     6.00
4     full_name_sCount   0.01   100.00

In [ ]:
# model_clf = load('./model/regis_logreg.pkl')


# X_test = pd.DataFrame()
# X_test['score_gibberish'] = [1]
# X_test['score_sus_email'] = [0]
# X_test['createdFromIp_count'] = [0]
# X_test['phoneSub_count'] = [0]

# score = model_clf.predict_proba(X_test)
# score[0][-1]


# res_pred = pd.concat([
#     pd.DataFrame(clf.feature_names_in_, columns=['variabel']), 
#     pd.DataFrame(clf.coef_[0], columns=['bobot']),
#     pd.DataFrame(X_test.values[0], columns=['feature'])      
# ], 1)
# res_pred['b*f'] = res_pred['bobot'] * res_pred['feature']

# dict_score_parameter = {}
# for idx, row in res_pred.iterrows():
#     dict_score_parameter[row['variabel']] = row['b*f']
# dict_score_parameter