In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)



import pymongo
from datetime import datetime, timedelta, date
import pandas as pd


import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px
from datetime import datetime, timedelta, date

parent_path = '/home/server'


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def encode(s):
    
    i = 0
    t = ''
    while i < len(s):
        if s[i].isupper():
            t += 'U'
        elif s[i].islower():
            t += 'L'
        elif s[i].isdigit():
            t += 'D'
        else:
            t += 'O'
        i += 1
        
    return t

def short_encode(s):
    i = 0
    s = encode(s)
    curr = ''
    t = ''
    
    while i < len(s):
        if curr != s[i]:
            t += s[i]
            curr = s[i]
        
        i += 1
    return t

def score_sus_email(s):

    email_input = s
    email_input = email_input.split('@')[0]
    
    
    
    pat_count_digit = encode(email_input).count('D')
    pat_encode = short_encode(email_input)
    
    if pat_encode == 'LD' and pat_count_digit >= 4:
        return 0.25
    elif pat_encode == 'D' and pat_count_digit >= 4:
        return 0.25
    return 0
    
score_sus_email('qywyeqeyqw123@gmail.com')

0

In [3]:
from gibberish_detector import detector
Detector = detector.create_from_model(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/big.model')
from nostril import nonsense


def score_gibberish(input_email):
    split_email = input_email.split('@')[0]
    #print(split_email)

    flag_gibberish1 = False
    
    try:
        if Detector.is_gibberish(split_email):
            flag_gibberish1 = True
    except Exception as e:
        pass
    
    flag_gibberish2 = False
    
    try:
        if nonsense(split_email):
            flag_gibberish2 = True
    except Exception as e:
        pass


    if flag_gibberish1 or flag_gibberish2:
        return 0.5
    else:
        return 0

email = 'satyaaji489@gmail.com'
score_gibberish(email)

0.5

In [4]:
upper_date = datetime(2022,4,5)
lower_date = datetime(2022,4,4)
myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member"]
df_sample = pd.DataFrame(mycol.find({'created_at':{'$lt': upper_date, '$gte': lower_date}
                                    }))[['full_name','phone','birth_date','gender','marital_status',
                                         'account_card','createdFromIp','email','created_at']]

In [5]:
df_sample.head()

,full_name,phone,birth_date,gender,marital_status,account_card,createdFromIp,email,created_at
0,sodoso,087783207077,1996-03-30,M,M,9990013749414427,114.10.11.89,sodoso21@hotmail.com,2022-04-04 00:00:00.447
1,AA.VANZA ANDINIA PUTRA,082236146163,2005-03-01,M,S,9990013749414541,114.122.139.159,aavansaap33@gmail.com,2022-04-04 00:00:05.095
2,fajar Amran,085240647969,2001-10-22,M,S,9990013749414883,140.213.178.215,fajaramran022@gmail.com,2022-04-04 00:00:42.488
3,Tiara Rosa Dewi,081546513741,2003-01-29,F,S,9990013749414997,114.5.213.87,tiaraamanada39@gmail.com,2022-04-04 00:00:52.691
4,mujayantu,082131110588,1989-10-10,F,M,9990013749415198,124.158.182.86,mjyanti89@gmail.com,2022-04-04 00:01:13.148

In [6]:
from sqlalchemy import event,create_engine,types
driver = 'cx_oracle'
server = '10.234.152.61' 
database = 'alfabi' 
username = 'report' 
password = 'justd0it'
engine_stmt = "oracle://%s:%s@%s/%s" % (username, password, server, database )

engine = create_engine(engine_stmt)

df = df_sample[['account_card']].astype(str)
dtyp = {c:types.VARCHAR(df[c].str.len().max()) for c in df.columns[df.dtypes == 'object'].tolist()}
df.to_sql('temp_register', engine, index=False, 
                                          if_exists="replace", dtype=dtyp)

In [1]:
# df_sample_train = df_sample[df_sample['created_at'] < datetime(2022,3,20,12,0)]
# df_sample_test = df_sample[df_sample['created_at'] >= datetime(2022,3,31,0,0)]

In [9]:
import redis
import json
from pprint import pprint
r = redis.Redis(host="127.0.0.1", port=6379, db=0)


dict_register_ip = {}
r.set("register_ip", json.dumps(dict_register_ip))
dict_register_prefix_phone = {}
r.set("register_prefix_phone", json.dumps(dict_register_prefix_phone))
dict_register_lower_name = {}
r.set("register_lower_name", json.dumps(dict_register_lower_name))

True

In [10]:
# for idx, row in df_sample_train.iterrows():
#     cur_ip = row['createdFromIp']
#     cur_prefix_phone = row['phone'][0:10]
#     cur_lower_name = row['full_name'].lower()
    
#     student_obj_as_bytes = r.get("register_ip")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_ip = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_prefix_phone")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_prefix_phone = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_lower_name")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_lower_name = json.loads(student_obj_as_str)
    
    
#     #print(register_ip) 
#     if cur_ip in register_ip:
#         register_ip[cur_ip] += 1
#     else:
#         register_ip[cur_ip] = 1
        
#     if cur_prefix_phone in register_prefix_phone:
#         register_prefix_phone[cur_prefix_phone] += 1
#     else:
#         register_prefix_phone[cur_prefix_phone] = 1
        
#     if cur_lower_name in register_lower_name:
#         register_lower_name[cur_lower_name] += 1
#     else:
#         register_lower_name[cur_lower_name] = 1
        
#     r.set("register_ip", json.dumps(register_ip))
#     r.set("register_prefix_phone", json.dumps(register_prefix_phone))
#     r.set("register_lower_name", json.dumps(register_lower_name))

In [11]:
li_score_ip = []
li_score_prefix_phone = []
li_score_lower_name = []

for idx, row in df_sample_test.iterrows():
    cur_ip = row['createdFromIp']
    cur_prefix_phone = row['phone'][0:10]
    cur_lower_name = row['full_name'].lower()
    
    student_obj_as_bytes = r.get("register_ip")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_ip = json.loads(student_obj_as_str)

    student_obj_as_bytes = r.get("register_prefix_phone")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_prefix_phone = json.loads(student_obj_as_str)

    student_obj_as_bytes = r.get("register_lower_name")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_lower_name = json.loads(student_obj_as_str)
    
    score_ip = 0
    if cur_ip in register_ip:
        if register_ip[cur_ip] > 5:
            score_ip = 0.25
    score_prefix_phone = 0
    if cur_prefix_phone in register_prefix_phone:
        if register_prefix_phone[cur_prefix_phone] > 5:
            score_prefix_phone = 0.25
    score_lower_name = 0
    if cur_lower_name in register_lower_name:
        if register_lower_name[cur_lower_name] > 10:
            score_lower_name = 0.25
            
    li_score_ip.append(score_ip)
    li_score_prefix_phone.append(score_prefix_phone)
    li_score_lower_name.append(score_lower_name)
    
    
    #print(register_ip) 
    if cur_ip in register_ip:
        register_ip[cur_ip] += 1
    else:
        register_ip[cur_ip] = 1
        
    if cur_prefix_phone in register_prefix_phone:
        register_prefix_phone[cur_prefix_phone] += 1
    else:
        register_prefix_phone[cur_prefix_phone] = 1
        
    if cur_lower_name in register_lower_name:
        register_lower_name[cur_lower_name] += 1
    else:
        register_lower_name[cur_lower_name] = 1
        
    r.set("register_ip", json.dumps(register_ip))
    r.set("register_prefix_phone", json.dumps(register_prefix_phone))
    r.set("register_lower_name", json.dumps(register_lower_name))

In [12]:
df_sample_test['score_ip'] = li_score_ip
df_sample_test['score_prefix_phone'] = li_score_prefix_phone
df_sample_test['score_lower_name'] = li_score_lower_name
df_sample_test['score_gibberish'] = df_sample_test['email'].apply(score_gibberish)
df_sample_test['score_sus_email'] = df_sample_test['email'].apply(score_sus_email)

In [ ]:
# df_sample_test[df_sample_test['score_sus_email'] >= 0.25]\
# [['full_name','phone','email','score_prefix_phone','score_ip','score_lower_name','score_gibberish','score_sus_email']]