In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)



import pymongo
from datetime import datetime, timedelta, date
import pandas as pd


import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px
from datetime import datetime, timedelta, date

parent_path = '/home/server'


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
alfagift_otp_file = pd.read_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/otp_history/otp_hist.csv',dtype='object')

In [3]:
alfagift_otp_file.head()

,_id,otp_code,valid_until,phone_num,action,deviceId,created_at,updated_at
0,62473da9273ff302f3b4add5,444440,2022-04-01 18:05:09.828,082176597818,FORGOT_PASSWORD,cae35cba-706d-4995-af14-f91bd38c78d4,2022-04-01 18:00:09.828,2022-04-01 18:00:09.828
1,62473dbf273ff302f3b4add6,402303,2022-04-01 18:05:30.927,081341515006,REGISTER,1f19b109-ab9c-41a0-b4ce-59298a8cfcfc,2022-04-01 18:00:31.128,2022-04-01 18:00:31.128
2,62473dc0dc53bd3707a8d0af,561931,2022-04-01 18:05:32.211,082116605083,REGISTER,543054d4-ae0c-46d5-903b-7aa718d38fdd,2022-04-01 18:00:32.348,2022-04-01 18:00:32.348
3,62473dc8666d013baaaeb31f,142763,2022-04-01 18:05:39.874,0895403258471,REGISTER,e2c810d4-352f-4438-b0f0-7fbd0dc413cd,2022-04-01 18:00:40.814,2022-04-01 18:00:40.814
4,62473dd0273ff302f3b4add7,367595,2022-04-01 18:05:48.053,085394876772,FORGOT_PASSWORD,28e41371-ba65-49d2-962a-5823bf508aef,2022-04-01 18:00:48.053,2022-04-01 18:00:48.053

In [2]:
import pymongo
myclient = pymongo.MongoClient(
    "mongodb://gli_user_view:h2y6ts7d@35.247.149.184:27017/?authSource=alfagift_message")
mydb = myclient["alfagift_message"]
mycol = mydb["alfagift_otp"]




alfagift_otp = pd.DataFrame(mycol.find({}))

In [16]:
alfagift_otp[alfagift_otp['deviceId'] == 'b74e3191-c521-4a1f-a605-56662362cbed']

,_id,otp_code,valid_until,phone_num,action,message,deviceId,version,created_at,updated_at,created_by_user,updated_by_user,_class
13153,624a83ac3ca95e5fa120ed06,333043,2022-04-04 05:40:40.142,081259742194,REGISTER,Alfagift OTP for REGISTER is : 333043\nValid until : 04-04-2022 12:40:40,b74e3191-c521-4a1f-a605-56662362cbed,0,2022-04-04 05:35:40.142,2022-04-04 05:35:40.142,mapi_message_app,mapi_message_app,id.alfadigital.alfagift.service.message.v1.db.mongo.domain.Otp
13179,624a83c83ca95e5fa120ed17,880541,2022-04-04 05:41:08.532,081259742194,REGISTER,Alfagift OTP for REGISTER is : 880541\nValid until : 04-04-2022 12:41:08,b74e3191-c521-4a1f-a605-56662362cbed,0,2022-04-04 05:36:08.533,2022-04-04 05:36:08.533,mapi_message_app,mapi_message_app,id.alfadigital.alfagift.service.message.v1.db.mongo.domain.Otp
13202,624a83e53ca95e5fa120ed2e,216798,2022-04-04 05:41:37.079,081359742194,REGISTER,Alfagift OTP for REGISTER is : 216798\nValid until : 04-04-2022 12:41:37,b74e3191-c521-4a1f-a605-56662362cbed,0,2022-04-04 05:36:37.969,2022-04-04 05:36:37.969,mapi_message_app,mapi_message_app,id.alfadigital.alfagift.service.message.v1.db.mongo.domain.Otp

In [5]:
wrap_col = ['_id', 'otp_code', 'valid_until', 'phone_num', 'action', 'deviceId', 'created_at', 'updated_at']
alfagift_otp_sel = alfagift_otp[wrap_col]

now_str=str(datetime.now().strftime('%d%b%y_%H%M'))

alfagift_otp_save = pd.concat([alfagift_otp_file,alfagift_otp_sel])
alfagift_otp_save = alfagift_otp_save.drop_duplicates(subset=['_id'])
alfagift_otp_save.to_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/otp_history/otp_hist.csv', index=False)

In [6]:
# alfagift_otp_save['valid_until'].max()

In [7]:
# alfagift_otp_save['valid_until'].min()

In [66]:
import pandas as pd
member_pickupgula = pd.read_excel('../member_pickupgula.xlsx', dtype='object')

In [67]:
member_pickupgula.head()

          NO MEMBER TRANSAKSI CATEGORY JUMLAH_TOKO  QTY
0  9990011037852494         9        1           5  220
1  9990011004092739         4        1           2   94
2  9990013402216515         3        1           2   78
3  9990012476048665         4        1           4   76
4  9990013321722758         5        1           5   52

In [68]:
li_ponta = member_pickupgula['NO MEMBER']

In [69]:
import pymongo
from datetime import datetime, timedelta, date
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)


myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member"]

## get member register date
member_det = pd.DataFrame(mycol.find({'account_card':{"$in":list(map(str,li_ponta))}}, 
                {'account_card':1, 'phone':1, 'location':1, 'created_at':1, 'member_id':1, 'createdFromIp':1}))

In [84]:
mem_ip = list(member_det['createdFromIp'].dropna())

In [ ]:
myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member"]

## get member register date
member_det_ip = pd.DataFrame(mycol.find({'createdFromIp':{"$in":list(map(str,mem_ip))}}, 
                    {'account_card':1, 'phone':1, 'location':1, 'created_at':1, 'member_id':1, 'createdFromIp':1}))

In [80]:
li_member_id = member_det['member_id']

## get member device
myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member_device"]

member_device = pd.DataFrame(mycol.find({'member_id':{"$in":list(map(int,li_member_id))}}, 
                        {'device_model':1, 'device_id':1, 'is_active':1, 'last_login':1, 'member_id':1}))
member_device.to_csv('./member_pickupgula_device.csv', index=False)
member_device_test = pd.DataFrame(mycol.find({'member_id':{"$in":list(map(int,li_member_id[0:2]))}}))

In [73]:
am = pd.merge(member_det, member_device, on='member_id', how='left')
am_g = am.groupby(['account_card']).agg(count_device=('device_model','count'),
                                        count_active_device=('is_active','sum'),
                                       distinct_device_model=('device_model','nunique')
                                       )
am_g = am_g.sort_values(by='count_active_device', ascending=False).reset_index(drop=False)

In [77]:
member_pickupgula['NO MEMBER'] = member_pickupgula['NO MEMBER'].astype(str)
member_pickupgula_g = pd.merge(member_pickupgula, am_g, 
                               left_on='NO MEMBER', right_on='account_card', how='left')\
                        .drop(['account_card'], axis=1)

<ipython-input-77-17e3b26dc847>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  member_pickupgula_g = pd.merge(member_pickupgula, am_g, left_on='NO MEMBER', right_on='account_card', how='left')\

In [78]:
member_pickupgula_g.to_excel('./member_pickupgula_devicecount.xlsx', index=False)