In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)



import pymongo
from datetime import datetime, timedelta, date
import pandas as pd


import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px
from datetime import datetime, timedelta, date

parent_path = '/home/server'


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
alfagift_otp_file = pd.read_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/otp_history/otp_hist.csv',dtype='object')

In [3]:
alfagift_otp_file.head()

,_id,otp_code,valid_until,phone_num,action,deviceId,created_at,updated_at
0,62473da9273ff302f3b4add5,444440,2022-04-01 18:05:09.828,082176597818,FORGOT_PASSWORD,cae35cba-706d-4995-af14-f91bd38c78d4,2022-04-01 18:00:09.828,2022-04-01 18:00:09.828
1,62473dbf273ff302f3b4add6,402303,2022-04-01 18:05:30.927,081341515006,REGISTER,1f19b109-ab9c-41a0-b4ce-59298a8cfcfc,2022-04-01 18:00:31.128,2022-04-01 18:00:31.128
2,62473dc0dc53bd3707a8d0af,561931,2022-04-01 18:05:32.211,082116605083,REGISTER,543054d4-ae0c-46d5-903b-7aa718d38fdd,2022-04-01 18:00:32.348,2022-04-01 18:00:32.348
3,62473dc8666d013baaaeb31f,142763,2022-04-01 18:05:39.874,0895403258471,REGISTER,e2c810d4-352f-4438-b0f0-7fbd0dc413cd,2022-04-01 18:00:40.814,2022-04-01 18:00:40.814
4,62473dd0273ff302f3b4add7,367595,2022-04-01 18:05:48.053,085394876772,FORGOT_PASSWORD,28e41371-ba65-49d2-962a-5823bf508aef,2022-04-01 18:00:48.053,2022-04-01 18:00:48.053

In [4]:
import pymongo
myclient = pymongo.MongoClient(
    "mongodb://gli_user_view:h2y6ts7d@35.247.149.184:27017/?authSource=alfagift_message")
mydb = myclient["alfagift_message"]
mycol = mydb["alfagift_otp"]




alfagift_otp = pd.DataFrame(mycol.find({}))

In [5]:
wrap_col = ['_id', 'otp_code', 'valid_until', 'phone_num', 'action', 'deviceId', 'created_at', 'updated_at']
alfagift_otp_sel = alfagift_otp[wrap_col]

now_str=str(datetime.now().strftime('%d%b%y_%H%M'))

alfagift_otp_save = pd.concat([alfagift_otp_file,alfagift_otp_sel])
alfagift_otp_save = alfagift_otp_save.drop_duplicates(subset=['_id'])
alfagift_otp_save.to_csv(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/otp_history/otp_hist.csv', index=False)

In [6]:
# alfagift_otp_save['valid_until'].max()

In [7]:
# alfagift_otp_save['valid_until'].min()

In [8]:
print(now_str)

02Apr22_2141