In [11]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)



import pymongo
from datetime import datetime, timedelta, date
import pandas as pd


import numpy as np
import pymongo
import cx_Oracle
import os
import time
import plotly.express as px
from datetime import datetime, timedelta, date

parent_path = '/home/server'


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.mode.chained_assignment = None  # default='warn'

In [153]:
from gibberish_detector import detector
Detector = detector.create_from_model(
    '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/big.model')
from nostril import nonsense


def score_gibberish(input_email):
    split_email = input_email.split('@')[0]
    #print(split_email)

    flag_gibberish1 = False
    
    try:
        if Detector.is_gibberish(split_email):
            flag_gibberish1 = True
    except Exception as e:
        pass
    
    flag_gibberish2 = False
    
    try:
        if nonsense(split_email):
            flag_gibberish2 = True
    except Exception as e:
        pass


    if flag_gibberish1 or flag_gibberish2:
        return 0.5
    else:
        return 0

email = 'satyaaji489@gmail.com'
score_gibberish(email)

0.5

In [21]:
upper_date = datetime(2022,3,21)
lower_date = datetime(2022,3,20)
myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member"]
df_sample = pd.DataFrame(mycol.find({'created_at':{'$lt': upper_date, '$gte': lower_date}
                                    }))[['full_name','phone','birth_date','gender','marital_status',
                                         'account_card','createdFromIp','email','created_at']]

In [171]:
df_sample_train = df_sample[df_sample['created_at'] < datetime(2022,3,20,12,0)]
df_sample_test = df_sample[df_sample['created_at'] >= datetime(2022,3,20,0,0)]

In [173]:
df_sample_test.shape

(15306, 9)

In [79]:
import redis
import json
from pprint import pprint
r = redis.Redis(host="127.0.0.1", port=6379, db=0)


dict_register_ip = {}
r.set("register_ip", json.dumps(dict_register_ip))
dict_register_prefix_phone = {}
r.set("register_prefix_phone", json.dumps(dict_register_prefix_phone))
dict_register_lower_name = {}
r.set("register_lower_name", json.dumps(dict_register_lower_name))

True

In [174]:
# for idx, row in df_sample_train.iterrows():
#     cur_ip = row['createdFromIp']
#     cur_prefix_phone = row['phone'][0:10]
#     cur_lower_name = row['full_name'].lower()
    
#     student_obj_as_bytes = r.get("register_ip")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_ip = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_prefix_phone")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_prefix_phone = json.loads(student_obj_as_str)

#     student_obj_as_bytes = r.get("register_lower_name")
#     student_obj_as_str = student_obj_as_bytes.decode("utf-8")
#     register_lower_name = json.loads(student_obj_as_str)
    
    
#     #print(register_ip) 
#     if cur_ip in register_ip:
#         register_ip[cur_ip] += 1
#     else:
#         register_ip[cur_ip] = 1
        
#     if cur_prefix_phone in register_prefix_phone:
#         register_prefix_phone[cur_prefix_phone] += 1
#     else:
#         register_prefix_phone[cur_prefix_phone] = 1
        
#     if cur_lower_name in register_lower_name:
#         register_lower_name[cur_lower_name] += 1
#     else:
#         register_lower_name[cur_lower_name] = 1
        
#     r.set("register_ip", json.dumps(register_ip))
#     r.set("register_prefix_phone", json.dumps(register_prefix_phone))
#     r.set("register_lower_name", json.dumps(register_lower_name))

In [99]:
li_score_ip = []
li_score_prefix_phone = []
li_score_lower_name = []

for idx, row in df_sample_test.iterrows():
    cur_ip = row['createdFromIp']
    cur_prefix_phone = row['phone'][0:10]
    cur_lower_name = row['full_name'].lower()
    
    student_obj_as_bytes = r.get("register_ip")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_ip = json.loads(student_obj_as_str)

    student_obj_as_bytes = r.get("register_prefix_phone")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_prefix_phone = json.loads(student_obj_as_str)

    student_obj_as_bytes = r.get("register_lower_name")
    student_obj_as_str = student_obj_as_bytes.decode("utf-8")
    register_lower_name = json.loads(student_obj_as_str)
    
    score_ip = 0
    if cur_ip in register_ip:
        if register_ip[cur_ip] > 5:
            score_ip = 0.25
    score_prefix_phone = 0
    if cur_prefix_phone in register_prefix_phone:
        if register_prefix_phone[cur_prefix_phone] > 5:
            score_prefix_phone = 0.25
    score_lower_name = 0
    if cur_lower_name in register_lower_name:
        if register_lower_name[cur_lower_name] > 10:
            score_lower_name = 0.25
            
    li_score_ip.append(score_ip)
    li_score_prefix_phone.append(score_prefix_phone)
    li_score_lower_name.append(score_lower_name)
    
    
    #print(register_ip) 
    if cur_ip in register_ip:
        register_ip[cur_ip] += 1
    else:
        register_ip[cur_ip] = 1
        
    if cur_prefix_phone in register_prefix_phone:
        register_prefix_phone[cur_prefix_phone] += 1
    else:
        register_prefix_phone[cur_prefix_phone] = 1
        
    if cur_lower_name in register_lower_name:
        register_lower_name[cur_lower_name] += 1
    else:
        register_lower_name[cur_lower_name] = 1
        
    r.set("register_ip", json.dumps(register_ip))
    r.set("register_prefix_phone", json.dumps(register_prefix_phone))
    r.set("register_lower_name", json.dumps(register_lower_name))

In [100]:
df_sample_test['score_ip'] = li_score_ip
df_sample_test['score_prefix_phone'] = li_score_prefix_phone
df_sample_test['score_lower_name'] = li_score_lower_name
df_sample_test['score_gibberish'] = df_sample_test['email'].apply(score_gibberish)
df_sample_test['score_sus_email'] = df_sample_test['email'].apply(sus_encode)

In [168]:
df_sample_test[df_sample_test['score_prefix_phone'] >= 0.25]\
[['full_name','phone','email','score_prefix_phone','score_lower_name','score_gibberish','score_sus_email']]

,full_name,phone,email,score_prefix_phone,score_lower_name,score_gibberish,score_sus_email
11271,rina,082133803462,bjuesfrazghds264@gmail.com,0.25,0.00,0.00,0.00
14375,Xenia restu,088213132154,xeniarestu256@gmail.com,0.25,0.00,0.00,0.00
14402,Karen Asih,088213132652,karenasih215@gmail.com,0.25,0.00,0.00,0.00
14476,Melissa Rianti,088213132122,melisarianti254@gmail.com,0.25,0.00,0.00,0.00
14516,Johan ferry,088213132120,johanferry259@gmail.com,0.25,0.00,0.00,0.00
14533,William subagio,088213132673,williamsubagio365@gmail.com,0.25,0.00,0.00,0.00

In [170]:
register_prefix_phone['0821338034']

11

In [169]:
df_sample_test[df_sample_test['phone'].str.contains('0821338034')]

,full_name,phone,birth_date,gender,marital_status,account_card,createdFromIp,email,created_at,score_ip,score_prefix_phone,score_lower_name,score_gibberish,score_sus_email
11271,rina,082133803462,1971-09-11,F,M,9990013721664397,114.4.216.18,bjuesfrazghds264@gmail.com,2022-03-20 12:42:36.826,0.00,0.25,0.00,0.00,0.00