In [1]:
import pandas as pd
import psycopg2
import numpy as np
from datetime import datetime, timedelta
import plotly.express as px
import plotly.express as px
import plotly.graph_objects as go
from decimal import Decimal
pd.options.display.float_format = '{:.0f}'.format
import pymongo
import pprint
import pandas as pd


import sys
sys.path.append('/home/server/gli-data-science/')

import os
import ds_db
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.1f' % x)

myclient = pymongo.MongoClient("mongodb://user_read:read12345678@35.198.224.58:27017/?authSource=alfagift_member")
mydb = myclient["alfagift_member"]
mycol = mydb["alfagift_member"]
mycol_device = mydb["alfagift_member_device"]


from sqlalchemy import event,create_engine,types
conn_str = u'report/justd0it@10.234.152.61:1521/alfabi'
driver = 'cx_oracle'
server = '10.234.152.61' 
database = 'alfabi' 
username = 'report' 
password = 'justd0it'
engine_stmt = "oracle://%s:%s@%s/%s" % ( username, password, server, database )

In [2]:
from gibberish_detector import detector

p = '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/indo_news.model.test'
path_detector_indo = p
Detector = detector.create_from_model(
    path_detector_indo
)

def score_gibberish(input_email):
    split_email = input_email.split('@')[0]
    
    score_gib = Detector.calculate_probability_of_being_gibberish(split_email)
    
    return score_gib



p = '/home/server/gli-data-science/akhiyar/alfagift_alert/gibberish-detector/all_email_provider_domains.txt'
with open(p) as f:
    li_all_provider = f.read().splitlines()

def encode(s):
    
    i = 0
    t = ''
    while i < len(s):
        if s[i].isupper():
            t += 'U'
        elif s[i].islower():
            t += 'L'
        elif s[i].isdigit():
            t += 'D'
        else:
            t += 'O'
        i += 1
        
    return t

def short_encode(s):
    i = 0
    s = encode(s)
    curr = ''
    t = ''
    
    while i < len(s):
        if curr != s[i]:
            t += s[i]
            curr = s[i]
        
        i += 1
    return t

def score_sus_email(email_input):

    
    name_input = email_input.split('@')[0]
    provider_input = email_input.split('@')[-1]
    
   
    pat_count_digit = encode(name_input).count('D')
    pat_count_lowercase = encode(name_input).count('L')
    pat_encode = short_encode(name_input)
   
    if (pat_encode == 'LD' or pat_encode == 'DL') and pat_count_digit > 4:
        return 1
    elif pat_count_digit > 4 and pat_count_lowercase <=2:
        return 1
    elif pat_count_digit > 8:
        return 1
    elif pat_encode == 'D':
        return 1
    elif provider_input not in li_all_provider:
        return 1
    return 0

In [3]:
df_all = pd.read_excel('./report referral_edit.xlsx', dtype='object')

df_all_g1 = df_all[df_all['ard_tipe'] == 'inviter']\
                .groupby(['ard_member_inviter'])\
                .agg(count_inviter=('ard_member_inviter','count'))\
                .reset_index()

df_all = df_all.merge(df_all_g1, on='ard_member_inviter', how='left')
df_all = df_all.sort_values(by=['count_inviter'], ascending=False)

In [4]:
engine = create_engine(engine_stmt)

df_save = df_all[['ard_voucher_code']]

dtyp = {
        c:types.VARCHAR(df_save[c].str.len().max()) 
        for c in df_save.columns[df_save.dtypes == 'object'].tolist()
}

df_save.to_sql('temp_member', engine, index=False, 
                if_exists="replace", dtype=dtyp)

engine.dispose()
q = '''
SELECT 
    rto.TRO_NO_ORDER AS NO_ORDER, 
    max(rto.TRO_DATE) AS DATE_ORDER,
    max(rto.TRO_PONTA_ID) AS PONTA_ID_USE, 
    max(rto.TRO_VOUCHER_CODE) AS VOUCHER_CODE,
    listagg(rp_umum.GET_DESC_ITEM(rto.TRO_PLU),', ') 
    within group( order by rp_umum.GET_DESC_ITEM(rto.TRO_PLU) ) AS LIST_ITEM,
    sum(rto.TRO_NET) AS SALES
FROM 
    TEMP_MEMBER tm
    INNER JOIN RPT_TRANS_OSHOP rto 
    ON rto.TRO_VOUCHER_CODE = tm.ARD_VOUCHER_CODE
WHERE 
	rp_umum.GET_DESC_ITEM(rto.TRO_PLU) NOT LIKE 'KP BRANDING%' 
GROUP BY rto.TRO_NO_ORDER
'''


con = ds_db.connect_alfabi(debug=False)
df_use = pd.read_sql_query(q, con)

con.close()

df_use_all = pd.merge(df_all, df_use, left_on='ard_voucher_code',right_on='VOUCHER_CODE', how='inner')
df_use_all['PONTA_ID_ISSUE'] = np.where((df_use_all['ard_tipe'] == 'inviter'),
                                           df_use_all['ard_member_inviter'],
                                          df_use_all['ard_member_invitee'])



df_use_sameaccount = df_use_all[df_use_all['PONTA_ID_ISSUE'] == df_use_all['PONTA_ID_USE']]
df_use_diffaccount = df_use_all[df_use_all['PONTA_ID_ISSUE'] != df_use_all['PONTA_ID_USE']]


df_use_g1 = df_use.groupby(['PONTA_ID_USE'])\
                .agg(count_voucher_use=('VOUCHER_CODE','count'),
                    sum_sales=('SALES','sum'),
                    list_item=('LIST_ITEM', lambda x: ', '.join(x)))\
                .reset_index().sort_values(by='count_voucher_use', ascending=False)
df_use_g1.columns = df_use_g1.columns.str.upper()

In [5]:
df_use_g1.head()

,PONTA_ID_USE,COUNT_VOUCHER_USE,SUM_SALES,LIST_ITEM
410,9990013381205772,4,18018.0,"SUNLIGHT JRK NIPIS REF210ML(GM), SUNLIGHT JRK NIPIS REF210ML(GM), SUNLIGHT JRK NIPIS REF210ML(GM), SUNLIGHT JRK NIPIS REF210ML(GM)"
350,9990013283322900,3,13513.5,"ULTRA SARI KACANG IJO TP 250ML, ULTRA SARI KACANG IJO TP 250ML, ULTRA SARI KACANG IJO TP 250ML"
298,9990013130887561,3,15495.5,"SAJIKU TEP BMB SBG 220G, KARA NDC LYCHEE CUP 220ML, ALFAMART AIR MNRL PET 1500ML"
561,9990013753501322,3,12342.3,"PUCUK HARUM TEH PET 350ML, BENG-BENG MAXX 32G, DELFI BARBAR 18G"
188,9990012421148225,3,13513.5,"KOBE MIE GRG JIWA PAGI 80G, SAJIKU BMB NASI GRG PEDAS 20G, AJINOMOTO MSG 116G"

In [6]:
df_use.shape

(970, 6)

In [7]:
need_col = [
    'NO_ORDER',
    'DATE_ORDER',
    'PONTA_ID_ISSUE',
    'PONTA_ID_USE',
    'VOUCHER_CODE',
    'SALES',
    'LIST_ITEM'
]
df_use_all_sel = df_use_all[need_col]

In [8]:
df_use_all_sel.head()

,NO_ORDER,DATE_ORDER,PONTA_ID_ISSUE,PONTA_ID_USE,VOUCHER_CODE,SALES,LIST_ITEM
0,O-220618-AGBGSSX,2022-06-18,9990010474826669,9990010474826669,BD6FD98A2GXM,5405.4,TINI WINI BITI COKELAT 38G
1,O-220618-AGSPBBK,2022-06-18,9990012177430921,9990012177430921,B75E1FD73244,6936.9,"SIDOMUNCUL PERMEN TOLAKANGIN 5S, ULTRA SARI KACANG IJO TP 250ML"
2,O-220617-AGYKJXH,2022-06-17,9990013854156200,9990013854156200,BD81A1D443RI,108000.0,"GMP GULA 1KG, GULAKU GULA TEBU PRM 1KG, ROSE BRAND GULA TEBU KNG BAG1KG, ROSE BRAND GULA TEBU PRM 1KG"
3,O-220617-AGQJQBN,2022-06-17,9990013472031045,9990013472031045,B75A0BF004XO,9549.5,GARUDA KCG ATOM ORI 130/138G
4,O-220617-AGPPWVW,2022-06-17,9990013400374552,9990013400374552,B73ACC9FE47E,3603.6,FRUIT TEA FREEZE PET 350ML

In [9]:
dict_voucher_usage = {
    'NUM VOUCHER USE BY SAME ACCOUNT ISSUE' : [len(df_use_sameaccount)],
    'NUM VOUCHER USE BY DIFFERENT ACCOUNT ISSUE' : [len(df_use_diffaccount)],
    'NUM OF ACCOUNT USE MORE THAN 1 VOUCHER' : [df_use_g1[df_use_g1['COUNT_VOUCHER_USE'] > 1].shape[0]],
    'MAXIMUM USE VOUCHER IN 1 ACCOUNT': [df_use_g1['COUNT_VOUCHER_USE'].max()]                                
}


df_voucher_usage = pd.DataFrame(dict_voucher_usage).T.reset_index()
df_voucher_usage.columns = ['type','count']

In [10]:
df_voucher_usage

                                         type  count
0       NUM VOUCHER USE BY SAME ACCOUNT ISSUE    900
1  NUM VOUCHER USE BY DIFFERENT ACCOUNT ISSUE     70
2      NUM OF ACCOUNT USE MORE THAN 1 VOUCHER    122
3            MAXIMUM USE VOUCHER IN 1 ACCOUNT      4

In [11]:
li_ponta = list(df_all['ard_member_inviter'])
cond_col = {'account_card':{"$in":list(map(str,li_ponta))}}

need_col = {
    'account_card':1,
    'email':1,
    'full_name':1,
    'phone':1,
    'createdFromIp':1,
    'created_at':1,
    'member_id':1
}
## can be added location.coordinates
member_profile = pd.DataFrame(mycol.find(cond_col, need_col))
member_profile = member_profile.iloc[:, 1:]

li_member_id = member_profile['member_id']
cond_col = {
    'member_id':{"$in":list(map(int,li_member_id))}
}

need_col = {
    'device_model':1, 
    'device_id':1,
    'is_active':1,
    'member_id':1
}

member_device = pd.DataFrame(mycol_device.find(cond_col, need_col))
member_device = member_device[member_device['is_active']==True]
member_device = member_device.iloc[:, 1:]

profile_device = pd.merge(member_profile, member_device, on='member_id', how='left')
profile_device = profile_device.add_suffix('_inviter')

df_all_m = pd.merge(df_all, profile_device,
                  left_on='ard_member_inviter', 
                  right_on='account_card_inviter', how='left')

In [12]:
li_ponta = list(df_all['ard_member_invitee'])
cond_col = {'account_card':{"$in":list(map(str,li_ponta))}}

need_col = {
    'account_card':1,
    'email':1,
    'full_name':1,
    'phone':1,
    'createdFromIp':1,
    'created_at':1,
    'member_id':1
}
## can be added location.coordinates
member_profile = pd.DataFrame(mycol.find(cond_col, need_col))
member_profile = member_profile.iloc[:, 1:]

li_member_id = member_profile['member_id']
cond_col = {
    'member_id':{"$in":list(map(int,li_member_id))}
}

need_col = {
    'device_model':1, 
    'device_id':1,
    'is_active':1,
    'member_id':1
}

member_device = pd.DataFrame(mycol_device.find(cond_col, need_col))
member_device = member_device[member_device['is_active']==True]
member_device = member_device.iloc[:, 1:]

profile_device = pd.merge(member_profile, member_device, on='member_id', how='left')
profile_device = profile_device.add_suffix('_invitee')

df_all_m = pd.merge(df_all_m, profile_device,
                  left_on='ard_member_invitee', 
                  right_on='account_card_invitee', how='left')

In [13]:
df_all_same_device = df_all_m[df_all_m['device_model_inviter'] == df_all_m['device_model_invitee']]

In [14]:
need_col = [
'account_card_inviter',
'email_inviter',
'device_model_inviter',
'account_card_invitee',
'email_invitee',
'device_model_invitee',
]
df_all_same_device_sel = df_all_same_device[need_col].sort_values(by='email_inviter').drop_duplicates()

In [15]:
df_all_same_device_sel.head()

,account_card_inviter,email_inviter,device_model_inviter,account_card_invitee,email_invitee,device_model_invitee
2983,9990012481076392,abdigun888@gmil.com,iPhone,9990013848076600,wyoga42@gmail.com,iPhone
3443,9990012192228033,abdurrahmansaofy@gmail.com,Xiaomi Redmi 5,9990013852689217,satenergi@gmail.com,Xiaomi Redmi 5
3979,9990013360225882,afandiikrom28@gmail.com,iPhone,9990013852106797,putuaulia93@gmail.com,iPhone
1972,9990010633142400,aidaqueenaya@gmail.com,Xiaomi Redmi Note 4,9990013852237529,queenayafashion@gmail.com,Xiaomi Redmi Note 4
1734,9990013854130547,akhirin77@gmail.com,Xiaomi M2010J19CG,9990013854358839,milamukarromah1@gmail.com,Xiaomi M2010J19CG

In [16]:
df_all_same_device_sel.head()

,account_card_inviter,email_inviter,device_model_inviter,account_card_invitee,email_invitee,device_model_invitee
2983,9990012481076392,abdigun888@gmil.com,iPhone,9990013848076600,wyoga42@gmail.com,iPhone
3443,9990012192228033,abdurrahmansaofy@gmail.com,Xiaomi Redmi 5,9990013852689217,satenergi@gmail.com,Xiaomi Redmi 5
3979,9990013360225882,afandiikrom28@gmail.com,iPhone,9990013852106797,putuaulia93@gmail.com,iPhone
1972,9990010633142400,aidaqueenaya@gmail.com,Xiaomi Redmi Note 4,9990013852237529,queenayafashion@gmail.com,Xiaomi Redmi Note 4
1734,9990013854130547,akhirin77@gmail.com,Xiaomi M2010J19CG,9990013854358839,milamukarromah1@gmail.com,Xiaomi M2010J19CG

In [17]:
df_all_m['score_gibberish_inviter'] = df_all_m['email_inviter'].apply(score_gibberish)
df_all_m['score_suspicious_inviter'] = df_all_m['email_inviter'].apply(score_sus_email)

df_all_m['score_gibberish_invitee'] = df_all_m['email_invitee'].apply(score_gibberish)
df_all_m['score_suspicious_invitee'] = df_all_m['email_invitee'].apply(score_sus_email)

In [18]:
df_all_sus_inviter = df_all_m[(df_all_m['score_gibberish_inviter'] >= 4) 
                              | (df_all_m['score_suspicious_inviter'] == 1)]
need_col = [
'account_card_inviter',
'full_name_inviter',
'email_inviter',
]
df_all_sus_inviter_sel = df_all_sus_inviter[need_col]

In [19]:
df_all_sus_invitee = df_all_m[(df_all_m['score_gibberish_invitee'] >= 4) 
                              | (df_all_m['score_suspicious_invitee'] == 1)]
need_col = [
'account_card_invitee',
'full_name_invitee',
'email_invitee',
]
df_all_sus_invitee_sel = df_all_sus_invitee[need_col]

In [20]:
df_all_same_device_inviter = df_all_same_device_sel['account_card_inviter']
df_all_same_device_invitee = df_all_same_device_sel['account_card_invitee']
df_all_sus_inviter_sel_count = df_all_sus_inviter_sel['account_card_inviter']
df_all_sus_invitee_sel_count = df_all_sus_invitee_sel['account_card_invitee']

count_device = pd.concat([df_all_same_device_inviter,df_all_same_device_invitee]).drop_duplicates().shape[0]
# count_email_1 = df_all_sus_inviter_sel_count.drop_duplicates().shape[0]
# count_email_2 = df_all_sus_invitee_sel_count.drop_duplicates().shape[0]
count_email = pd.concat([df_all_sus_inviter_sel_count,df_all_sus_invitee_sel_count]).drop_duplicates().shape[0]

member_distinct = pd.DataFrame(pd.concat([
    df_all_same_device_inviter,
    df_all_same_device_invitee,
    df_all_sus_inviter_sel_count,
    df_all_sus_invitee_sel_count,
]).drop_duplicates(),columns=['PONTA_ID_USE'])
count_distinct = member_distinct.shape[0]

dict_voucher_usage = {
    'NUM SUSPECT INVITEE & INVITER BY USING SAME DEVICE' : [count_device],
    'NUM SUSPECT INVITEE & INVITER BY EMAIL' : [count_email],
    'SUM DISTINCT SUSPECT MEMBER' : count_distinct
}


df_suspect_member = pd.DataFrame(dict_voucher_usage).T.reset_index()
df_suspect_member.columns = ['type','count']

In [21]:
df_suspect_member

                                                 type  count
0  NUM SUSPECT INVITEE & INVITER BY USING SAME DEVICE    441
1              NUM SUSPECT INVITEE & INVITER BY EMAIL    489
2                         SUM DISTINCT SUSPECT MEMBER    842

In [22]:

member_suspect_use = pd.merge(member_distinct, df_use_all_sel, on='PONTA_ID_USE', how='inner')
member_suspect_use = member_suspect_use[df_use_all_sel.columns]
cond_col = {'account_card':{"$in":list(map(str,member_suspect_use['PONTA_ID_USE']))}}

need_col = {
    'account_card':1,
    'email':1,
    'full_name':1,
    'phone':1,
    'createdFromIp':1,
    'created_at':1,
    'member_id':1
}
## can be added location.coordinates
member_profile = pd.DataFrame(mycol.find(cond_col, need_col)).iloc[:,1:]
member_suspect_use=pd.merge(member_suspect_use,member_profile, 
                            left_on='PONTA_ID_USE', right_on='account_card', how='left')

In [23]:
member_suspect_use = member_suspect_use[member_suspect_use['created_at'] > '2022-06-01']

In [24]:
member_suspect_use.shape

(77, 14)

In [25]:
dict_voucher_usage = {
    'NUM VOUCHER USE BY CLONE ACCOUNT' : [member_suspect_use.shape[0]],
    'NUM OF CLONE ACCOUNT USE VOUCHER' : [member_suspect_use['PONTA_ID_USE'].nunique()],
}


df_suspect_member_use = pd.DataFrame(dict_voucher_usage).T.reset_index()
df_suspect_member_use.columns = ['type','count']

In [26]:
li_distinct_suspect = list(member_distinct['PONTA_ID_USE'])

In [27]:
df_all_ = df_all[df_all['ard_tipe'] == 'inviter']
li_inviter = df_all_['ard_member_inviter'][0:]


li_derive_all = []
li_derive_suspect = []
li_derive_chain = []
for inviter in li_inviter:
    li_derive = []
    count_derive_suspect = 0
    
    li_derive.append(inviter)
    if inviter in li_distinct_suspect:
        count_derive_suspect+=1
    
    
    df_par1 =  df_all_[df_all_['ard_member_inviter'] == inviter]

    if len(df_par1) > 0:
        for idx1,row1 in df_par1.iterrows():
            
            li_derive.append(row1['ard_member_invitee'])
            if row1['ard_member_invitee'] in li_distinct_suspect:
                count_derive_suspect+=1
            
            df_par2 = df_all_[df_all_['ard_member_inviter'] == row1['ard_member_invitee']]
            
            if len(df_par2) > 0:
                for idx2,row2 in df_par2.iterrows():

                    li_derive.append(row2['ard_member_invitee'])
                    if row2['ard_member_invitee'] in li_distinct_suspect:
                        count_derive_suspect+=1
                    df_par3 = df_all_[df_all_['ard_member_inviter'] == row2['ard_member_invitee']]
            
                    if len(df_par3) > 0:
                        for idx3,row3 in df_par3.iterrows():

                            li_derive.append(row3['ard_member_invitee'])
                            if row3['ard_member_invitee'] in li_distinct_suspect:
                                count_derive_suspect+=1
                            df_par4 = df_all_[df_all_['ard_member_inviter'] == row3['ard_member_invitee']]
                            
                            if len(df_par4) > 0:
                                for idx4,row4 in df_par4.iterrows():

                                    li_derive.append(row4['ard_member_invitee'])
                                    if row4['ard_member_invitee'] in li_distinct_suspect:
                                        count_derive_suspect+=1
                                    df_par5 = df_all_[df_all_['ard_member_inviter'] == row4['ard_member_invitee']]

                                    if len(df_par5) > 0:
                                        for idx5,row5 in df_par5.iterrows():

                                            li_derive.append(row5['ard_member_invitee'])
                                            if row5['ard_member_invitee'] in li_distinct_suspect:
                                                count_derive_suspect+=1
                                            df_par6 = df_all_[df_all_['ard_member_inviter'] == row5['ard_member_invitee']]
                            
                            
    li_derive_all.append(li_derive)
    li_derive_suspect.append(count_derive_suspect)
    li_derive_chain.append(len(li_derive))

df_seq = pd.DataFrame(li_derive_all)
df_seq.insert(0, 'COUNT_SUSPECT', li_derive_suspect)
df_seq.insert(1, 'COUNT_CHAIN', li_derive_chain)
df_seq = df_seq.drop_duplicates()

In [28]:
df_seq = df_seq.sort_values(by='COUNT_SUSPECT', ascending=False)

In [29]:
dict_voucher_usage = {
    'MAXIMUM INVITER CREATE CLONE ACCOUNT' : [df_seq['COUNT_CHAIN'].max()],
    'MAXIMUM SUSPECT IN CLONE ACCOUNT' : [df_seq['COUNT_SUSPECT'].max()],                        
}


df_member_chain = pd.DataFrame(dict_voucher_usage).T.reset_index()
df_member_chain.columns = ['type','count']

In [30]:
df_member_chain.head()

                                   type  count
0  MAXIMUM INVITER CREATE CLONE ACCOUNT     12
1      MAXIMUM SUSPECT IN CLONE ACCOUNT     10

In [31]:
writer = pd.ExcelWriter('./suspect_fraud/referral_suspect.xlsx'
                        , engine='xlsxwriter') 


df_save = df_voucher_usage.copy()
adder = 'summary'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')

df_save2 = df_suspect_member.copy()
adder = 'summary'
df_save2.to_excel(writer, sheet_name=adder, index=False, na_rep='-', startrow=7)

df_save2 = df_suspect_member_use.copy()
adder = 'summary'
df_save2.to_excel(writer, sheet_name=adder, index=False, na_rep='-', startrow=13)

df_save3 = df_member_chain.copy()
adder = 'summary'
df_save3.to_excel(writer, sheet_name=adder, index=False, na_rep='-', startrow=17)


# Auto-adjust columns' width
for column in df_save:
    column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
    col_idx = df_save.columns.get_loc(column)
    writer.sheets[adder].set_column(col_idx, col_idx, column_width)

##################################################################
df_save = df_use_g1.copy()
adder = 'voucher_usage'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-', startcol=8)

df_save = df_use_all_sel.copy()
adder = 'voucher_usage'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')


# Auto-adjust columns' width
for column in df_save:
    column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
    col_idx = df_save.columns.get_loc(column)
    writer.sheets[adder].set_column(col_idx, col_idx, column_width)
    
    
####
df_save = member_suspect_use.copy()
adder = 'voucher_usage_clone_member'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')

# Auto-adjust columns' width
for column in df_save:
    column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
    col_idx = df_save.columns.get_loc(column)
    writer.sheets[adder].set_column(col_idx, col_idx, column_width)
    
    

####

######################################################################
df_save = df_all_same_device_sel.copy()
adder = 'suspect_by_same_device'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')



# Auto-adjust columns' width
for column in df_save:
    column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
    col_idx = df_save.columns.get_loc(column)
    writer.sheets[adder].set_column(col_idx, col_idx, column_width)

    
    
#####
    
df_save = df_all_sus_inviter_sel.drop_duplicates().copy()
adder = 'suspect_by_email'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')

df_save = df_all_sus_invitee_sel.drop_duplicates().copy()
adder = 'suspect_by_email'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-', startcol=5)

# Auto-adjust columns' width
for column in df_save:
    column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
    col_idx = df_save.columns.get_loc(column)
    writer.sheets[adder].set_column(col_idx, col_idx, column_width)

    



# ####
# df_save = df_all_sus_inviter_sel.copy()
# adder = 'suspect_by_email'
# df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')

# # Auto-adjust columns' width
# for column in df_save:
#     column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
#     col_idx = df_save.columns.get_loc(column)
#     writer.sheets[adder].set_column(col_idx, col_idx, column_width)
    
    


    
    
####
df_save = df_seq.copy().fillna('-').astype('str')
adder = 'chain_inviter'
df_save.to_excel(writer, sheet_name=adder, index=False, na_rep='-')

# # Auto-adjust columns' width
# for column in df_save:
#     column_width = max(df_save[column].astype(str).map(len).max(), len(column)) + 2
#     col_idx = df_save.columns.get_loc(column)
#     writer.sheets[adder].set_column(col_idx, col_idx, column_width)

    
writer.save()