In [1]:
import psycopg2
import pandas as pd
from datetime import datetime, timedelta

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

try:
    connection = psycopg2.connect(
        host="35.187.250.81",
        database="prd_order",
        user="akhiyar_waladi",
        password="nd4n6fk9")

    
    print("You are connected to -- \n{}".format(record))

except (Exception, psycopg2.Error) as error :
    print("Error while connecting to PostgreSQL", error)

Error while connecting to PostgreSQL name 'record' is not defined

In [2]:
now_date = datetime.now().date() - timedelta(days=1)
to_date = now_date + timedelta(days=1)

now_str = now_date.strftime('%Y-%m-%d')
to_str = to_date.strftime('%Y-%m-%d')
print(now_str, to_str)

2021-05-26 2021-05-27

In [3]:
b1, b2, b3, b4 = False, False, False, False

if (datetime.now().hour) in [1, 2, 3, 4, 5, 6]:
    b1 = True
if (datetime.now().minute) % 30 == 0:
    b3, b4 = True
if (datetime.now().hour) == 7:
    b2 = True

In [4]:
if b1:
    q_1 = '''
    select count(tbto_no)
    from tb_transaction_order tto 
    where tto.tbto_create_date between now() - interval '1 hours' and now()
    '''

    count_order = pd.read_sql(q_1, connection)['count'][0]

In [5]:
if b2:
    q_2 = '''
    -- check voucher amount usage and voucher code count in one day interval
    select 
        tbto_ponta_id, sum(tbto_voucher_usage) as sum_voucher_usage, count(distinct(tbto_voucher_code))
    from 
        tb_transaction_order tto 
    where 
        tto.tbto_create_date between '2021-05-04' and '2021-05-05' 
        and tbto_ponta_id is not null
        and tbto_voucher_usage is not null
    group by tbto_ponta_id
    order by sum_voucher_usage desc
    '''
    voucher_check = pd.read_sql(q_2, connection)

In [6]:
if b3:
    q_3 = '''
    -- check trx with ponta redeemed and issued
    select 
        tto.tbto_ponta_id, sum(ttp.tbtp_ponta_amount) as sum_ponta_redeem, count(tto.tbto_id) as count_order_id
    from 
        tb_transaction_order tto 
        left join tb_transaction_payment ttp on tto.tbto_id = ttp.tbto_id
    where 
        tto.tbto_create_date between (now() - interval '30 minutes') and now()
        and ttp.tbmp_id = 23
    group by tto.tbto_ponta_id 
    order by sum_ponta_redeem desc
    '''
    point_redeem = pd.read_sql(q_3, connection)

In [7]:
if b4:
    q_4 = '''
    -- check trx with ponta redeem and issued
    select 
        tto.tbto_ponta_id, sum(tto.tbto_ponta_point) as sum_ponta_issued, count(tto.tbto_id) as count_order_id
    from 
        tb_transaction_order tto 
    where 
        tto.tbto_create_date between (now() - interval '30 minutes') and now()
        and tbto_ponta_id is not null
    group by tto.tbto_ponta_id 
    order by sum_ponta_issued desc
    '''
    point_issue = pd.read_sql(q_4, connection)